[2017-11-02 18:15] mraible opened #1 "Figure out how to modify Ionic client's package.json after install"
When I call [`writeFiles.call(this)`](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/generators/app/index.js#L59), it doesn't finish executing before [`install`](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/generators/app/index.js#L72) is called.

Figure out how to make `install` execute after `writeFiles`.

[2017-11-02 20:03] ruddell commented on #1
Just a guess since I can't get a project generated - it looks like you may be calling `done()` before `writeFiles.call(this)` finishes.  Try passing `done` into `writeFiles` and calling it when that function is done.  Here's [an example from the main generator](https://github.com/jhipster/generator-jhipster/blob/61852253fd9e3c8b18318c684942f8d48475aa39/generators/aws/index.js#L27-L30) of what I me

[2017-11-02 22:06] deepu105 commented on #1
Also check my entity audit module. It does a lot of post generation hacks on generated files so you may get some pointers

[2017-11-02 23:14] mraible commented on #1
Thanks for the tip @ruddell! That worked to solve my problem. Please give the generator another try - should work now.

[2017-11-02 23:14] #1 closed

[2017-11-03 05:20] mraible opened #2 "Improve Entity Generator Support"
- [x] Make it possible to run `yo jhipster:entity`
- [x] Finish Entity Template
- [x] Finish Entity View Template
- [x] Finish Edit/Add Dialog Template

[2017-11-04 02:01] Zeral-Zhang opened #3 "Run yo jhipster-ionic command encountered the following problems"
Error: Cannot find module 'C:\Users\Zeral\AppData\Roaming\npm\node_modules\generator-jhipster-ionic\generators\app/../../node_modules/generator-jhipster/generators/util.js'
    at Function.Module._resolveFilename (module.js:489:15)
    at Function.Module._load (module.js:439:25)
    at Module.require (module.js:517:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:\Users\Z

[2017-11-04 02:05] mraible commented on #3
Can you try changing the generator's `package.json` to have:

[code]

If that doesn't work, maybe @deepu105 knows?

[2017-11-04 19:10] dhorvay commented on #3
@Zeral-Zhang was having the same issue. Change directories to ```C:\Users\Zeral\AppData\Roaming\npm\node_modules\generator-jhipster-ionic\``` and in ```index.js``` change line 8 from:

 ```jhipsterUtils = require(__dirname+ '/../../node_modules/generator-jhipster/generators/util.js'),```
to:
```jhipsterUtils = require(__dirname+ '/../../node_modules/generator-jhipster/generators/utils.js'),```

Th

[2017-11-04 19:12] dhorvay commented on #3
*However*, I think the actual issue here might be that in the official npm registry is an older version of the generator not the one in this repository, and the older version is causing your current issue as well. Try installing this package directly from GitHub:

```npm install -g git+https://git@github.com/oktadeveloper/generator-jhipster-ionic```

I would actually try this first. After I did th

[2017-11-16 16:05] manisi opened #4 "run yo jhipster-ionic command Error"
Hi,
module.js:487
    throw err;
    ^

Error: Cannot find module '/usr/local/lib/node_modules/generator-jhipster-ionic/generators/app/../../node_modules/generator-jhipster/generators/util.js'
    at Function.Module._resolveFilename (module.js:485:15)
    at Function.Module._load (module.js:437:25)
    at Module.require (module.js:513:17)
    at require (internal/module.js:11:18)
    at Object.<an

[2017-11-16 17:37] mraible commented on #4
I have not published this repo to npm yet, but hope to soon. I'll leave this issue open until I do. In the meantime, you can clone this repository, cd into it, and run `npm link` to use it.

[2017-11-16 18:17] manisi commented on #4
Thanks a lot  Matt.

2017-11-16 21:07 GMT+03:30 Matt Raible <notifications@github.com>:

[2017-11-16 21:33] mraible commented on #2
Not sure it makes sense to support `import-jdl` since that should be done on the server. It would be cool to support `yo jhipster:entity *` to import *all* the entities from the server.

[2017-11-16 21:36] mraible commented on #4
Yeah, I just fixed that issue, but now there's a new one.

[code]

Steps to reproduce:

[code]

@deepu105 - do you have any advice? I'm not sure what I'm doing wrong so that `this.fs` is not available at https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/generators/app/index.js#L55

[2017-11-17 01:52] josephnw opened #5 "Cannot read property 'readJSON' of undefined (app\index.js)"
I followed temporary steps to run at #4 on Windows :
[code]

What might be the cause of the problem? Thank you.

E:\project\generator-jhipster-ionic\generators\app\index.js:55
        this.jhipsterAppConfig = this.fs.readJSON(fromPath)['generator-jhipster'
];
                                        ^

TypeError: Cannot read property 'readJSON' of undefined
    at get writing [as writing] (E:\proje

[2017-11-17 06:55] deepu105 commented on #4
Seems like a context issue to.me but would have to debug the code to see,
do try with the --debug flag to see whats happening in detail on Jhipster
part. I wont have time until weekend to take a look unfortunately

On 16 Nov 2017 10:36 pm, "Matt Raible" <notifications@github.com> wrote:

[2017-11-17 07:53] mraible commented on #5
@josephnw I just pushed a fix for this. Please try again and close this issue if it works for you.

[2017-11-17 07:54] mraible commented on #4
@deepu105 Changing `get writing()` to just `writing()` solved the problem.
@manisi Please update try again. If it works for you, please close this issue.

[2017-11-17 07:54] mraible commented on #3
I'm going to leave this open to track publishing of this module. I'll close it once it's been published to npm.

[2017-11-17 08:11] josephnw commented on #5
Yes, it works for now.
Thank you :+1:

[2017-11-17 08:11] #5 closed

[2017-11-17 10:57] manisi commented on #4
Thanks,
it works.

[2017-11-17 10:57] #4 closed

[2017-11-17 12:14] mraible commented on #3
https://twitter.com/mraible/status/931495701749608448

[2017-11-17 12:14] #3 closed

[2017-11-17 12:17] mraible opened #6 "Add Remember Me to LoginPage"

[2017-11-17 12:17] mraible opened #7 "Add docs about CORS and that port 8080 won't for emulator"

[2017-11-17 12:19] mraible commented on #6
Closing in favor of https://github.com/oktadeveloper/ionic-jhipster-starter/issues/2

[2017-11-17 12:19] #6 closed

[2017-11-17 12:21] mraible opened #8 "Add OIDC Support"

[2017-11-17 12:22] mraible commented on #2
In addition:

* Finish Entity Template
* Finish Entity View Template
* Finish Entity Edit/Add Template

[2017-11-17 12:52] deepu105 commented on #4
Oh yes get should be only used when returning an object with multiple
functions in it

Thanks & Regards,
Deepu

On Fri, Nov 17, 2017 at 11:57 AM, manisi <notifications@github.com> wrote:

[2017-11-17 20:03] dishaverma1987 opened #9 "Support for social login"
Hi

First of all congratulations for this great work. This is very useful for me, the only thing I am missing in this is social login. Any plans for social login.

[2017-11-18 18:57] mraible opened #10 "Add Continuous Integration"

[2017-11-20 20:52] dolps opened #11 "/assets/i18n/nb.json not found"
:8100/assets/i18n/nb.json Failed to load resource: the server responded with a status of 404 (Not Found)
Was originally nb_NO.json

changed to correct filename worked..

[2017-11-20 21:02] mraible commented on #11
Can you please provide the steps to reproduce this issue?

[2017-11-21 20:41] dolps commented on #11
generated gateway
generated ionic app
started consul + gateway
ran ionic serve -> page not loading -> displaying mentioned error
changed filename from nb_NO.json to nb.json -> worked fine

[2017-11-22 03:46] thomasrabelo opened #12 "Run yo jhipster-ionic command fails on Windows 10"
Welcome to the Ionic JHipster generator! v3.0.0

? What do you want to name your Ionic application? ionic4j
? Enter the directory where your JHipster app is located: backend
fromPath backend/.yo-rc.json

Creating Ionic app with command: ionic start ionic4j oktadeveloper/jhipster
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: spawnSync ionic ENOENT
    at _errnoException (

[2017-11-22 12:26] mraible commented on #12
You need to install Ionic first with:

npm install -g ionic cordova

[2017-11-22 12:49] thomasrabelo commented on #12
Its already installed :-(  The ionic cli is working perfectly. I'm running this on Windows 10. Any idea?

[2017-11-22 13:20] mraible commented on #12
Sounds like a bug then. I'll have to install Windows to try to reproduce. In the meantime, you can try running:

ionic start ionic4j oktadeveloper/jhipster

Then manually install the Ionic Module:

npm install --save generator-jhipster-ionic

[2017-11-22 13:52] mraible commented on #11
What language is your JHipster profile set to use?

[2017-11-22 17:10] mraible commented on #9
I have no plans to add it currently, but I'm happy to accept pull requests that add it. In the meantime, you might look at https://github.com/mraible/ionic-jhipster-example/pull/5.

[2017-11-27 17:59] rakeshkalra1983 commented on #8
Hello sir, with OIDC support, is it safe to say I will be able to use Social login on Ionic app and call my jhipster services?

[2017-11-27 19:15] mraible commented on #8
It depends. I was planning on adding support for Keycloak and Okta, which both allow you to configure social providers as part of their platforms. In theory, you could also just point the OIDC settings to a provider like Google or Facebook and that should work too. You could also look at #9.

[2017-11-28 11:35] ramazanfirin commented on #2
there are errors when creating entity from existing project

ramazan@ramazan-Lenovo-G50-70:~/jhipster-ionic/test2/ionic4j$ yo jhipster-ionic:entity blog

The entity blog is being created.

? Do you want to generate this entity from an existing app? Yes
? Enter the path to your app's root directory: ../../backend

Found the .jhipster/Blog.json configuration file, entity can be automatically generat

[2017-11-28 14:54] mraible commented on #2
Can you try running with `--debug` and see if there's more information provided? Are you able to successfully run `yo jhipster:entity blog` on your backend project?

[2017-11-28 18:00] rakeshkalra1983 commented on #8
Ok, just to reiterate to check if I understood it right:
- if I will create my Jhipster app with Keycloak, and will turn on Google or Facebook provider on KeyCloak
- and create ionic project with generator jhipster ionic, and authenticate using keycloak to receive this token
- now if I will pass this token to jhipster, I will be able to login?

[2017-11-28 18:16] mraible commented on #8
Yes, that's correct. You can test this configuration now by generating a JHipster app with Keycloak and seeing if you can configure Google/Facebook in Keycloak and then login with them when you're redirected to login.

[2017-11-28 22:21] ecukalla commented on #2
I'm having the same problem. Have created a monolithic app called blogapp and then the ionic4j.
Hope my environment and config helps:

    ➜  ionic4j git:(master) ✗ yarn --version
    1.3.2
    ➜  ionic4j git:(master) ✗ jhipster --version
    Using JHipster version installed locally in current project's node_modules
    4.11.1
    ➜  ionic4j git:(master) ✗ yo --version
    2.0.0
    ➜  ionic4j git

[2017-11-29 06:23] ramazanfirin commented on #2
Hi mrabble,

yo jhipster:entity blog executed successfully at backend application.

you can see debug output below

ramazan@ramazan-Lenovo-G50-70:~/jhipster-ionic/test2$ cd ionic4j/
ramazan@ramazan-Lenovo-G50-70:~/jhipster-ionic/test2/ionic4j$ yo jhipster-ionic:entity blog --debug

The entity blog is being created.

? Do you want to generate this entity from an existing app? Yes
? Enter the path t

[2017-11-29 06:50] mraible commented on #2
This happens because the entity generator for JHipster was [recently refactored](https://github.com/jhipster/generator-jhipster/pull/6702). If you use JHipster 4.10.2, everything should work OK. To do this in your ionic4j app, run `npm install --save generator-jhipster@4.10.2`.

[2017-11-29 11:48] ramazanfirin commented on #2
with 4.10.2 version , it works . thanks but another problem
it generated entity from backend app for ionic app but ionic serve command dont start because of errors
i checked blog.ts and there is no variable like products...
when i change products to blogs at line 32, it works.
may be products keyword forgotten in code like static text...

you can see error logs below,

ramazan@ramazan-Lenovo-G50-7

[2017-11-29 15:17] mraible commented on #2
That's not too surprising. There's still a lot of work to be done on the entity generator. If you'd like to contribute, I can add instructions for that. Otherwise, I probably won't get a chance to work on this project until next week.

[2017-11-30 05:36] ramazanfirin commented on #2
i will very happy to  contribute. please share insruction for it.

[2017-12-01 01:47] mraible commented on #2
@ramazanfirin I added a contribution guide a few minutes ago. The hardest part is probably [setting up your environment](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/CONTRIBUTING.md#setup). Please let me know if you have any questions!

[2017-12-10 18:34] babaknaddaf commented on #3
Hi Matt
I still face the same problem,
did anything change since you have closed the issue?

Sincerely yours,

[2017-12-11 02:16] mraible commented on #3
@babaknaddaf The latest release of this project only works with JHipster 4.10.2. Please try that version.

[2017-12-11 07:07] babaknaddaf commented on #3
@mraible  Thanks alot

[2017-12-15 22:59] mraible commented on #11
Fixed in ionic-jhipster-starter project: https://github.com/oktadeveloper/ionic-jhipster-starter/commit/d14d05f58300ba02ea0dc4ebf67f0813d644dae7

[2017-12-15 22:59] #11 closed

[2017-12-15 23:00] #2 closed

[2017-12-16 16:23] #12 closed

[2017-12-16 17:18] #7 closed

[2017-12-16 18:26] mraible opened #15 "Sign up displays error, even though it works"
For some reason, this code never calls the success callback:

[code]

`user.signup()` is [here](https://github.com/oktadeveloper/ionic-jhipster-starter/blob/master/src/providers/user/user.ts#L56). It calls `api.post()`, which is [here](https://github.com/oktadeveloper/ionic-jhipster-starter/blob/master/src/providers/api/api.ts#L32).

[2017-12-17 17:47] caffeinecoders commented on #9
If we can support social login from ionic app with Jhipster web app in background, this will be awesome. Waiting for this feature to be in.

[2017-12-17 17:58] mraible commented on #9
What social login providers are you looking for specifically? The same ones JHipster supports or just a single one? Single ones should be possible with OIDC support.

[2017-12-17 18:00] mraible commented on #9
Here's a tutorial that shows how to do Facebook and Twitter with Ionic: https://www.raymondcamden.com/2016/11/17/a-social-example-of-ionic-auth/

[2017-12-17 18:59] florentL opened #16 "Authentication failed using Ionic DevApp"
Hello,

First of all thanks for this amazing work.
I was trying to test my jhipster-ionic app on my phone using the new Ionic DevApp but I wasn't able to log in.

Is there some extra configuration (proxy, CORS) to add in order to have HTTP requests working on a real device?

[2017-12-17 20:46] mraible commented on #16
Thanks! You have to enable CORS in your JHipster app, and you'll likely have to publish it to a public URL. Then you'll need to change `api.ts` to have the public URL for your API.

[2017-12-18 07:18] caffeinecoders commented on #9
Hi, I am looking for same social login providers that JHipster supports, specifically Google and Facebook.
Lot of my colleagues who are using JHipster, have started using this ionic generator to create ionic app for their work, so I must say thankyou to you from all of us.

But social login is one of the most important feature we are desperately waiting for, as we see lot of users login now a days

[2017-12-18 21:52] florentL commented on #16
Finally, I succeeded to test my jhipster-ionic app directly on my phone with ngrok.
Also, I close this issue because it's not related with your generator.

[2017-12-18 21:52] #16 closed

[2017-12-20 05:44] PrakashHartron opened #17 "Entity create button error occur"
Uncaught (in promise): TypeError: Cannot read property 'id' of undefined TypeError: Cannot read property 'id' of undefined

[2017-12-20 17:35] #17 closed

[2017-12-20 17:40] mraible commented on #17
Thanks for the bug report @PrakashHartron! Please upgrade to 3.0.2 to fix this issue.

[code]

[2017-12-24 17:32] canberkizgi opened #19 "Generator Doesn't Generate Existing Entities"
I run "yo jhipster-ionic" command and ionic app is created. But my entities which already locate in my existing jhipster project doesn't be generated. Also, when i try to run "yo jhipster-ionic:entity" command console says
[code]

[2017-12-24 17:38] mraible commented on #19
I would recommend that you generate your application in a directory outside your JHipster project. For example:

[code]

Then, when you run `yo jhipster-ionic:entity course`, enter `../backend` as the path to your JHipster project.

If that doesn't work, make sure you're using `v3.0.2` of this module.

[2017-12-24 17:52] canberkizgi commented on #19
I just updated generator-jhipster-ionic.
My directories path:
home/can/mucs (my jhipster project)
home/can/mucsapp (generated ionic project.
So paths looks like fine but still i got this error after i run "yo jhipster-ionic:entity course"
[code]

[2017-12-24 17:53] mraible commented on #19
Can you run `yo jhipster-ionic:entity course --debug` and paste the stack trace here please.

[2017-12-24 17:56] canberkizgi commented on #19
Here is the result:
[code]

[2017-12-24 18:05] mraible commented on #19
Can you include a screenshot to show what you're entering when prompted? Also, if you could include the output from `yo jhipster:info` in your JHipster project, that'd be great.

[2017-12-24 18:10] canberkizgi commented on #19
yo jhipster-ionic:entity course --debug
![debug](https://user-images.githubusercontent.com/28841094/34328372-adf7e54a-e8ee-11e7-9d61-ae6e0722ae41.png)

yo jhipster:info

![info1](https://user-images.githubusercontent.com/28841094/34328375-c9538524-e8ee-11e7-96cf-e1ea7894c4a5.png)
![info2](https://user-images.githubusercontent.com/28841094/34328376-c972d834-e8ee-11e7-8df6-736178c768ee.png)

[2017-12-24 18:12] canberkizgi commented on #19
yo jhipster-ionic:entity course --debug
![debug](https://user-images.githubusercontent.com/28841094/34328385-11b2d91e-e8ef-11e7-8d9c-92355a341b5e.png)

yo jhipster:info
![info1](https://user-images.githubusercontent.com/28841094/34328381-07869f98-e8ef-11e7-9acd-0d5020860514.png)
![info2](https://user-images.githubusercontent.com/28841094/34328382-07ab6710-e8ef-11e7-92fa-3a1c8b37269c.png)
![info3](

[2017-12-24 18:13] mraible commented on #19
Can you try deleting the `.yo-rc.json` file from the parent directory? I believe that's causing this issue because you're not being prompted for the path to the JHipster project.

[2017-12-24 18:20] canberkizgi commented on #19
Now; my entities are generated.
I regenareted my all entitites. But i got some other errors now.

Here are the screenshoots:
![error1](https://user-images.githubusercontent.com/28841094/34328452-4d633f3e-e8f0-11e7-85a6-3ef2bbb4b93f.png)
![error2](https://user-images.githubusercontent.com/28841094/34328453-4d887e84-e8f0-11e7-8d5e-27912b0302fd.png)

[2017-12-24 18:25] mraible commented on #19
It looks like you found a scenario in the entity generator that I didn't test yet. Maybe you're using a one-to-one relationship? Can you copy/paste the output from `yo jhipster:info` in your JHipster project so I can try to reproduce?

Unfortunately, I won't be able to look at this until I'm back from vacation (January 8).

If you'd like to try and fix it in the meantime, see our [contributing gui

[2017-12-24 18:30] canberkizgi commented on #19
I use one-to-one relationship between Student and User.
I have to present my project next week. Do you have any idea to quickfix?
Also i check your contributing guide.
Here are the yo jhipster:info results
![info1](https://user-images.githubusercontent.com/28841094/34328521-b626b374-e8f1-11e7-901b-28fd2a5f2ec4.png)
![info2](https://user-images.githubusercontent.com/28841094/34328522-b64b0c24-e8f1-

[2017-12-24 18:41] mraible commented on #19
I would suggest trying to fix it manually in the generated code. Try to figure out what the relationship should look like (by looking at the code in your JHipster/Angular project) and then replicate that code with Ionic. The component classes should look similar.

[2017-12-24 18:50] canberkizgi commented on #19
I try to fix it.
Also my jhipster project is Angular1.
Can it cause this error?

[2017-12-24 18:53] mraible commented on #19
Angular 1 shouldn't cause any issues, but you won't be able to look at your project's code for a hint. This module (currently) uses Angular 5 for Ionic.

[2017-12-24 18:59] canberkizgi commented on #19
I see.
Lastly; here is my announcement-dialog.ts file. It couldn't see user entity.(line 42) I dont understand why. Any idea?
![user1](https://user-images.githubusercontent.com/28841094/34328647-a8e6da28-e8f5-11e7-8049-f5eee60cd17d.png)
![user2](https://user-images.githubusercontent.com/28841094/34328648-a90ccf08-e8f5-11e7-86f7-fffc7b75bd8a.png)

[2017-12-24 19:00] mraible commented on #19
You `Announcement` object does not have a `user` property - that’s what it's saying.

[2017-12-24 19:03] canberkizgi commented on #19
I has user property in jhipster.
If i add "public userId?: number," into announcement.model.ts as screenshoot; is it fixed?
![add](https://user-images.githubusercontent.com/28841094/34328662-37af4448-e8f6-11e7-921c-4255c36d447f.png)

[2017-12-24 19:07] mraible commented on #19
Yes, try to reference `announcement.userId` instead of `announcement.user` in `announcement-dialog.ts`.

[2017-12-24 19:19] canberkizgi commented on #19
I am working on it. Thank you.
have a nice holiday

[2017-12-25 20:54] gaganc commented on #15
I think this might be related to this issue https://github.com/angular/angular/issues/18680 which is fixed in Angular 5.0.5, but the generated ionic 3 still depends on 5.0.1 . If i upgrade my local generated package.json to 5.0.5, then this issue seems to go away

[2018-01-03 07:52] caffeinecoders commented on #8
Hi @mraible just wanted to do +1 to this work, really looking forward for ionic jhipster integration to work with OpenID, as I believe this will enable me to do social login from ionic. We are looking forward to create ionic app for our jhipster websites, but without social login feature, we are blocked.

[2018-01-08 14:47] herisson-88 commented on #15
I get a pattern validation issue with email as login (pattern of login's jhipster back do not accept @)

[2018-01-08 15:00] herisson-88 commented on #15
in signup.ts
`// set login to same as email
this.account.login = this.account.email;`

in Constants.java
`// Regex for acceptable logins
    public static final String LOGIN_REGEX = "^[_'.A-Za-z0-9-]*$";`

[2018-01-08 17:58] mraible commented on #19
Did you get this figured out? If not, can you please run `yo jhipster:info` in your JHipster backend and copy/paste the output here. I don't want a screenshot, I want text that I can copy and paste to see if I can reproduce/fix the problem.

[2018-01-08 23:08] mraible commented on #15
@herisson-88 I believe this is caused by https://github.com/jhipster/generator-jhipster/issues/6923. The next release of JHipster should fix that.

[2018-01-08 23:09] mraible commented on #15
Thanks for the tip @gaganc - I'll give that a try!

[2018-01-18 19:36] canberkizgi commented on #19
Hi i solved it manually.
Here is my output:

`##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mucsv06.mucs",
      "nativeLanguage": "tr"
    },
    "jhipsterVersion": "4.13.0",
    "baseName": "m

[2018-01-19 03:24] mraible commented on #19
Any tips on how you solved it? For example, what was generated and what you had to change it to?

[2018-01-19 07:57] mraible commented on #15
I tried changing the starter for [ionic-jhipster-starter](https://github.com/oktadeveloper/ionic-jhipster-starter) to use the latest commit (https://github.com/ionic-team/starters/commits - 3cf7b83afdb44f179e02fbeb02ca9241a9759a60), but that gives me Angular 5.0.3. If I manually upgrade to 5.0.5, it gets past this error, but it doesn't fully succeed. Will revisit once [ionic-team/starters](https:/

[2018-01-20 18:14] mraible opened #21 "A JHipster App with Ionic + OIDC can't render its own Angular client"
I added OIDC Support to the Ionic module in https://github.com/oktadeveloper/generator-jhipster-ionic/pull/20. Along the way, I discovered that I wasn't able to use a cookie-based solution for storing the access token. With a basic JHipster monolith, cookies work because the Angular client is either embedded in the Spring Boot app (when running on 8080), or webpack proxies the request to the serve

[2018-01-20 18:24] mraible opened #22 "Add support for pull-to-refresh in entity generator"
See Crypto PWA for an example: https://github.com/oktadeveloper/okta-ionic-crypto-pwa/blob/master/src/pages/home/home.html#L25

[2018-01-22 18:54] bdemers commented on #21
For serving the angular client is it basically just static pages and the new `AuthInfoResource` controller?  I like the `AuthInfoResource` idea!

I have had ordering issues with the SSO Filter and the CORS filter before.  Instead of setting the order directly, IIRC I used the `http.addFilterBefore()` method.  The result is basically the same though.

[2018-01-24 02:59] #8 closed

[2018-01-24 03:00] mraible commented on #21
Fixed by https://github.com/oktadeveloper/generator-jhipster-ionic/issues/21.

[2018-01-24 03:00] #21 closed

[2018-01-24 08:53] #22 closed

[2018-01-24 08:55] mraible commented on #9
Fixed by https://github.com/oktadeveloper/generator-jhipster-ionic/pull/20.

[2018-01-24 08:55] #9 closed

[2018-01-24 08:58] mraible opened #24 "Add Unsubscribe for subscriptions in entity generator"
https://gist.github.com/mraible/4c83687805a64fe94c517b23f5d371d0

[2018-01-26 01:00] mraible opened #25 "Implicit flow doesn't work in browser on a slow connection"
It seems the call to `/api/auth-info` takes to long when redirecting back to the application.

[2018-01-26 02:46] #25 closed

[2018-01-26 03:09] mraible opened #27 "Add dependency on generator-jhipster-ionic in devDependencies"

[2018-02-17 14:57] SidMorad opened #28 "Using BrowserTab and CustomUrlScheme instead of InAppBrowser for avoiding sign-in from scratch [OAuth2]"
Best guide I found so far is [this comment](https://github.com/nraboy/ng-cordova-oauth/issues/283#issuecomment-246137484).

I think solving this issue will be a good improvement for this project (and my project:)). so I will try to update this issue as I do progress forward, and please let me know if someone else have done this before? or you know a better way for solving this issue? thanks.

[2018-02-18 08:45] SidMorad commented on #28
If you are interested, you can see my current solution for this in following git-diff output:
[code]

[issue28_diff.txt](https://github.com/oktadeveloper/generator-jhipster-ionic/files/1734527/issue28_diff.txt)

Note: I have to set `AndroidLaunchMode` value to `singleInstance` otherwise new instance of application get lunch on browser-tab callback.

Note2: I have to downgrade Cordova Android spec

[2018-02-24 22:22] mraible opened #29 "Add an import-jdl command"
https://github.com/ruddell/ignite-jhipster/issues/31

[2018-03-20 19:06] mraible opened #30 "Add support for microservices in entity generator"
If you point to a gateway when generating an entity, the JSON file is not found. You have to specify the path to the microservice app to find the JSON file. For a monolith, the path to the API is `/api/{entityName}`. For a microservice, the path to the API is `/api/{microserviceName}/{entityName}`.

[2018-03-20 19:25] mraible opened #32 "Add support for dates"
If you create a [blog.jh](https://github.com/jhipster/jdl-samples/blob/master/blog.jh) app using JDL, saving entries doesn't work.

Request payload:

[code]

Response:

[code]

[2018-03-20 19:33] #30 closed

[2018-03-20 20:37] mraible opened #33 "Tests fail after installing AuthInfoResource.java in gateway"
[code]

[2018-03-20 21:54] #33 closed

[2018-03-20 22:58] mraible opened #35 "Add support for images"

[2018-04-04 21:51] mraible commented on #15
Fixed by https://github.com/ionic-team/starters/pull/74.

[2018-04-04 21:51] #15 closed

[2018-04-24 03:11] pmverma opened #38 "Form name in entity dialog is incorrect"
In relationship section, for validation, `editForm` is used while the actual name is `form`.

[https://github.com/oktadeveloper/generator-jhipster-ionic/blob/f4a4749a4a899a3e352e64bdf65b02a1035847fc/generators/entity-client/templates/ionic/src/pages/entities/_entity-dialog.html#L44](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/f4a4749a4a899a3e352e64bdf65b02a1035847fc/generators/e

[2018-04-24 03:16] mraible commented on #38
Thanks! I'll get this fixed asap.

[2018-04-24 03:26] #38 closed

[2018-04-24 05:45] mraible commented on #27
Not needed AFAICT.

[2018-04-24 05:45] #27 closed

[2018-04-24 06:46] #35 closed

[2018-04-25 01:42] mraible commented on #28
@SidMorad If you have the time, I'd love to see a pull request with this change in it. I added continuous integration with Travis today, and hope to add a login test shortly.

[2018-04-25 01:53] #10 closed

[2018-04-25 01:59] mraible opened #43 "Add login e2e test"
Encrypt the credentials to show folks how to do it

[2018-04-25 04:52] SidMorad commented on #28
@mraible I start to work on it, and I will update you as I progress forward. I'm planning to 1) generate a project with the master branch 2) apply required changes to generated project 3) test it. And if everything did work well, I will try to modify templates here which I guess that will be more time consuming for me.

p.s. Thanks to this project, JHipster and Ionic we went into production stage

[2018-04-25 10:08] SidMorad commented on #28
@mraible [this commit](https://github.com/SidMorad/ionic4j-oauth2/commit/2c137318d164810bdb30760b9a02c8fda35b5a51) shows just enough changes to make things work as expected. I did test wanted functionality in `ionic serve` and `ionic cordova run android` modes which is kind of documented [here](https://github.com/SidMorad/ionic4j-oauth2/blob/master/README.md).

I also went through source code of t

[2018-04-25 15:35] mraible commented on #28
@SidMorad Please review PR https://github.com/oktadeveloper/generator-jhipster-ionic/pull/44 when you get a chance. I also created https://github.com/jhipster/generator-jhipster/pull/7538 in JHipster so the custom URL is available in Keycloak by default.

[2018-04-27 03:55] mraible commented on #43
Decided not to encrypt credentials since default is just "admin/admin". Fixed by https://github.com/oktadeveloper/generator-jhipster-ionic/pull/45.

[2018-04-27 03:55] #43 closed

[2018-05-28 21:57] mfalzetta opened #46 "Ionic App can't login to the backend jHipster OAuth 2.0/Keycloak"
Hi,

I create a jHipster web monolithic/OAuth 2.0/OIDC Keycloak application with jHipster 4.14.4 version, see attachment.
And the application works fine.

After i create a jHipster Ionic app basead on my web monolithic backend.

And i cant login from ionic app.

Backend dont have ResourceServerConfiguration class, and the class SecurityConfiguration have a method below:

[code]

My Ionic app try a

[2018-05-28 22:18] mraible commented on #46
Please copy/paste the output from “jhipster info”. This will allow me to re-create your app on my local machine and try to reproduce the problem. Or you can publish your app as a project on GitHub. Then I can clone it.

[2018-05-28 23:44] mfalzetta commented on #46
Hi mraible,

Is here: https://github.com/mfalzetta/security.git

Thanks.

[2018-05-29 05:14] mfalzetta commented on #46
Hi Matt,

One thing, class ResourceServerConfiguration was not generated by jHipster, I picked it up in your article link. May disregard, please.

Thanks.

[2018-05-29 16:21] #46 closed

[2018-06-01 03:54] mfalzetta commented on #46
Matta,

The problem is that I need to be at the same directory level of the app (backend) to run the jhipster-ionic yo command.

What I was doing was creating a directory for the ionic app (mkdir security-app) and inside that directory (cd security) I execute the create command (jhipster-ionic yo).

The jhipster-ionic generator may be smarter to allow the creation of any directory (since I pass th

[2018-06-01 15:42] nicats opened #47 "Your backend project must be a monolith or a gateway-issue"
yo jhipster:server creates backend spring boot project (monolithic)

yo jhipster-ionic when trying to create checks for server application,  and app-type and gives error:

"ERROR!
Your backend project must be a monolith or a gateway to work with this module! Found application type: undefined."
so i manually updated it like adding
"applicationType": "monolith",
to .yo-rc.json.
I think  jhipster:ser

[2018-06-27 18:15] pmverma opened #48 "All options from ion-select are being selected"
### Overview
All options from ion-select are being selected for options created from relationship.

### Reproduce
- Create an entity and add relationship to user, many -> 1 user.
- Run app, try selecting a user from list - all users will be selected.

### Suggested Fix
Not sure if it breaks other thing but removing `[compareWith]` from respective `ion-select` works for me.

[2018-06-28 21:29] mraible commented on #48
Thanks for the bug report. Any chance you can create a PR to fix?

[2018-07-06 22:33] pmverma commented on #48
I was trying to reproduce with fresh app and everything is working fine.
It looks like I messed up.

[2018-07-06 22:33] #48 closed

[2018-08-29 12:42] CRivasGomez opened #51 "Can't run a simple Ionic app after generating it with `yo jhipster-ionic`"
Hi! 👋

I always encounter this problem while running a fresh new generated Ionic app.

## Overview of the issue - if an error is being thrown a stack trace helps
After generating my Ionic app as specified in the README.md it can't run it without error.
It says:

Typescript Error
Subsequent variable declarations must have the same type. Variable 'process' must be of type '{ env: { [key: string]: st

[2018-08-29 12:51] mraible commented on #51
Possibly related: https://github.com/ionic-team/ionic-cli/issues/3541

[2018-08-29 22:54] mraible commented on #51
@CRivasGomez Can you try removing `src/declarations.d.ts` from your project [as suggested](https://github.com/ionic-team/ionic-cli/issues/3541#issuecomment-417117639) and see if that fixes it?

[2018-08-30 12:43] CRivasGomez commented on #51
Hey!

I resolved it by restarting my machine. **Now is working as is supposed to do** 🎉

This is very strange because I have been dealing with this problem for 2 days before opening this issue and in that period of time I have rebooted my machine at least 2 times and tried again to generate all the projects multiple times.

I'am trying to reproduce the error but I can't.

Anyways, thanks for your

[2018-08-30 12:47] #51 closed

[2018-09-13 13:04] mraible commented on #47
Can you please try again with the latest version of JHipster (5.3.1) and see if this is fixed?

[2018-09-13 13:05] mraible opened #52 "Doesn't work with JHipster 5.3.1 and microservices"

[2018-09-13 20:55] Coenni commented on #47
im the same guy who opened the issue. it can be closed, in newer version it works charmly.

[2018-09-13 20:57] #47 closed

[2018-09-16 18:13] #52 closed

[2018-10-01 12:21] fleboulch opened #56 "Add support for environment feature"
Ionic app scripts 3.2.0 introduced configuration via process.env.VAR.

Currently the `oktadeveloper/jhipster` starter add ionic app scripts 3.1.9 dependency.

I've already done it on my JH Ionic app for the API_URL variable (https://github.com/florentL/fast-msg-heroku/pull/1/commits/26b960dc111885081dd0d64650ae01bea08c4f66).

I could submit a PR to use this feature but I don't know how to update t

[2018-10-01 16:04] mraible commented on #56
The process for updating the starter is kinda strange, so I'll try to document it here.

1. Fork and clone https://github.com/oktadeveloper/ionic-jhipster-starter.
2. Make your change on a branch and create a PR on the ionic-jhipster-starter project.
3. Fork and clone https://github.com/ionic-team/starters.
4. Create a branch for your changes.
5. cd into `ionic-angular/community/oktadeveloper/jhip

[2018-10-29 14:11] balvinder294 commented on #46
hey mfalzetta, i am also having the same issue, are you able to resolve. Also i have given the path of my jhipster gateway app built with UAA, but it is giving 403 error now.

[2018-10-29 14:15] mraible commented on #46
@balvinder294 I believe @mfalzetta's issue was he was trying to create the Ionic app in the same directory as his JHipster app. This module expects you to generate your Ionic app in the parent directory of your JHipster app. As far as UAA, I haven't written any code to make it work with UAA. It only works with JWT and OAuth 2.0 currently.

[2018-10-29 14:21] balvinder294 commented on #46
thanks for replying, Matt Raible, I have added The API Url for jhipster app after generating ionic app, do I also need to add anything else to make it work?

[2018-10-29 14:41] mraible commented on #46
@balvinder294 You need to use JWT or OAuth 2.0 / OIDC authentication in your JHipster app. If you do that, everything should work with your generated Ionic app.

[2018-11-09 13:30] #56 closed

[2018-11-12 16:49] Sirioxstar opened #58 "Add support for Ionic 4"
Hi,
i have installed this generator but when i select ionic 4 I have this error:
[INFO] You are about to create an Ionic 3 app. Would you like to try Ionic 4 (beta)?

       Ionic 4 uses the power of the modern Web and embraces the Angular CLI and Angular Router to bring you the best
       version of Ionic ever. See our blog announcement[1] and documentation[2] for more information. We'd love to

[2018-11-12 16:58] mraible commented on #58
This module has not been updated for Ionic 4. It should work if you use Ionic 3.

[2018-11-12 17:11] Sirioxstar commented on #58
it's OK!
Is an update planned for ionic 4?

[2018-11-12 17:57] mraible commented on #58
Yes. I hope to update this module for Ionic 4 shortly after it's released.

[2018-11-13 09:35] Sirioxstar commented on #58
it's ok!! Thanks!

[2018-11-13 20:42] Entrecampos opened #59 "yo jhipster-ionic:entity <Entity> error"
Great to integrate JHipster with Ionic !!!
I created JHipster nms (Monolithic dev: MySQL) & ionic4j .
When I run
cd nms && ./gradlew
cd ionic4j && ionic serve.
### Works fine and I can login and even change settings.

But when I try to create an entity that is running fine in nms app
it gives an error ...

$ yo jhipster-ionic:entity hospital
The entity hospital is being created.
? Do you want to g

[2018-11-13 21:49] Entrecampos commented on #59
I tried also with this and same error

/**
 * The Building entity.
 */
entity NmsBuilding {
  name String required,
  lastupdated Instant
}
/**
 * The Building entity.
 */
entity NmsCustomer {
  name String required,
  lastupdated Instant
}
/**
 * The Unit entity.
 * one to one relation between unit and raspberry pi.
 * device which can serve 1 or several patients(Remote)
 *
 * name String require

[2018-11-25 18:17] Entrecampos commented on #58
They don't have tutorial template working for ionic 4. Tabs template yes.

[2018-11-25 19:45] mraible commented on #59
It should work with another name. If it doesn’t, that’s a bug.

[2018-12-17 15:33] Mickap opened #61 "yo jhipster-ionic:entity <Entity> error"
Hi,
Like this issue [https://github.com/oktadeveloper/generator-jhipster-ionic/issues/59](https://github.com/oktadeveloper/generator-jhipster-ionic/issues/59) I'm unable to create a new ionic entity also after renaming my ionic directory by "ionic4j".

The error log :
[code]

Country.json file :

[code]

[2018-12-21 18:17] mraible commented on #61
I tried to reproduce this problem by first creating a new "blog" JHipster app with the following JDL:

[code]

Then I created a new app with this module called "foo".

[code]

Then I cd'd into `foo` and ran `yo jhipster:entity blog`:

[code]

So yes, this appears to be an issue. Unfortunately, I don't have time to fix this before the holidays but will do so next year.

[2019-01-03 19:16] Bikxs commented on #19
Encountered this issue while generating entity as below:

[code]
Got around it by using below work around
1. rename the ".yi-rc.json" to ".yi-rc.json_old"
2. On second try yo asks location of jhipster app and continues to generate the entity successfully.

[code]

[2019-01-10 10:29] Entrecampos opened #62 "ImageBlob not working in android"
I can upload a new photo in Web environment, but when I generate the apk and tried to save a photo in android device it gives this error.

`o.z.problem.spring.common.AdviceTrait    : Bad Request: JSON parse error: Cannot deserialize value of type `byte[]` from String "image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBA....`

The above exception comes in when the property

[2019-01-10 17:42] ruddell commented on #62
I'm guessing that the data is the wrong format when posting, the image data field should not start with `image/jpg` or contain `base64`.  Here's what it looks like when posting from the Angular client:
[code]

[2019-01-11 08:01] Entrecampos commented on #62
Great Ruddell!  it worked!
I replaced
 `this.form.patchValue({ [fieldName]: 'data:image/jpg;base64,' + data });`
with
` this.form.patchValue({ [fieldName]: data });`

[2019-01-23 16:53] mraible commented on #58
Ionic 4.0 was [released today](https://www.infoq.com/news/2019/01/ionic-framework-4-release). I'll look into upgrading this module and [its starter](https://github.com/oktadeveloper/ionic-jhipster-starter) next week.

[2019-01-31 09:00] ernsyn opened #63 "Error when creating JHipster ionic app"
Hi,

I have a standard JHipster v5.8.1 app generated called "eMedic". I then tried to generate the ionic app alongside the eMedic app. However, I'm getting the error as seen in the screenshot.

<img width="1289" alt="screenshot 2019-01-31 at 4 49 33 pm" src="https://user-images.githubusercontent.com/6326517/52042724-da488600-2578-11e9-9a8a-d1f401af3a50.png">

Note: I'm running the "yo jhipster-ion

[2019-02-01 21:50] clakech commented on #63
yes use ionic 3 and enjoy: npm install -g ionic@latest-3

[2019-02-02 02:46] ernsyn commented on #63
Ah thanks. Will try it out.

[2019-02-08 16:15] #63 closed

[2019-02-12 14:03] Entrecampos commented on #63
Thanks for you great work! When are you thinking the release of  ionic4 / Jhipster ?

[2019-02-12 14:23] mraible commented on #63
I spent several hours last weekend trying to get OAuth 2.0 login working with Ionic 4 and failed. As soon as I can get that working, I'll update this module. I believe I'll be able to use [capacitor-oauth2](https://github.com/moberwasserlechner/capacitor-oauth2), but not until it [adds PKCE support](https://github.com/moberwasserlechner/capacitor-oauth2/issues/4).

[2019-02-12 14:25] Entrecampos commented on #63
Hard worker !! Thanks. That I cannot help ... I am using JWT ...

[2019-02-12 15:16] mraible commented on #63
JWT support is provided by the [Ionic JHipster Starter](https://github.com/oktadeveloper/ionic-jhipster-starter). If you'd like, you can look into updating that project for Ionic 4. I have not started yet.

[2019-02-12 16:29] Entrecampos commented on #63
Ok! I will have a look.
 Maybe this has nothing with your error, but I change class 'User' to 'JhiUser' because there was already a User class and firstName and lastName were giving error....

[2019-02-19 07:03] abualshosh commented on #61
Work around :
make sure you're not in the same directory i.e
path/to/yourProject
cd ..
path/to/
run yo jhipster-ionic here

[2019-02-23 16:10] inlandia opened #64 "bug: entity-dialog - otherEntityName vs. relationshipName"
Hi,

it look's like there is a small bug in _entity-dialog.ts [131].
I have a entity with the relationships:
[code]
and I get an exception:
[code]
but it should be this.group.creator !
fix:
[code]
uniqueRel.otherEntityName should be uniqueRel.relationshipName.

[2019-03-04 20:55] orhanveliesen commented on #61
any news?

[2019-03-04 21:33] mraible commented on #61
Nope. I haven't found time to work on this yet. I probably won't have time until April.

[2019-03-15 19:42] dnicolauv opened #65 "stuck on jhipster-ionic generator"
The generator gets stuck after asking whether you'd like to integrate with Cordova. Doesn't matter if you answer yes or no.

![Capture](https://user-images.githubusercontent.com/4078335/54457861-d22c5a80-4762-11e9-8ce4-97a99a6e6472.PNG)

It actually gets stuck after any of the questions:
![Capture](https://user-images.githubusercontent.com/4078335/54458565-92ff0900-4764-11e9-86bf-5b26399e5d4e.PNG)

[2019-03-15 19:47] mraible commented on #65
What version of Ionic are you using? This module only works with Ionic 3.

[2019-03-15 19:49] dnicolauv commented on #65
I know. I downgraded to 3:
![Capture](https://user-images.githubusercontent.com/4078335/54458295-cf7e3500-4763-11e9-9955-1a3e850ab847.PNG)

[2019-03-15 20:01] mraible commented on #65
I just tried answering "No" to iOS and Android, and it works fine from there.

<img width="1354" alt="Screen Shot 2019-03-15 at 2 01 23 PM" src="https://user-images.githubusercontent.com/17892/54458949-db99d080-472a-11e9-9d26-31b21bd066a7.png">

[2019-03-15 20:11] dnicolauv commented on #65
Same result:

![Capture](https://user-images.githubusercontent.com/4078335/54459417-e96d4700-4766-11e9-8d7c-79705fecf54f.PNG)

Maybe it's a windows issue?

[2019-03-15 20:14] mraible commented on #65
I'm not sure. I don't have a Windows machine handy to test this. I haven't heard any issues from others, but I'm not sure if they're using Windows.

[2019-04-14 21:53] fleboulch commented on #63
Hello,
I've started working on upgrading the starter for ionic 4. I hope to do a PR on ionic-teams and on the ionic jhipster starter by the end of the week.
I don't know if someone else has started it too @Entrecampos, @mraible ?

[2019-04-14 22:03] mraible commented on #63
I haven’t yet, I’d be happy to review your PR and help!

[2019-04-15 06:16] Entrecampos commented on #63
I already have a working app in ionic 4 with jwt authentication

[2019-04-15 06:18] Entrecampos commented on #63
But have lots of things extra like notifications, socket.io <http://socket.io/>

I can try clean up to do a starter?
But still have to solve background problems.
And the client needs urgently this week.

[2019-04-15 07:04] zohrehBatouei opened #66 "ionic"
* **Overview of the request**

* **Motivation for or Use Case**

* **Browsers and Operating System**

* **Related issues**

* **Suggest a Fix**

[2019-04-15 07:08] zohrehBatouei commented on #66
why jhipster-ionic not support ionic 4??

[2019-04-15 07:09] zohrehBatouei opened #67 "why jhipster-ionic not support ionic 4??"
Hi there!

i need to use ionic 4 in my project
When will it be updated??????

[2019-04-15 07:09] #66 closed

[2019-04-15 07:18] zohrehBatouei commented on #65
even now? Not upgraded to ionic4 yet??
:(

[2019-04-15 07:51] Entrecampos commented on #65
@zohrehBatouei

How much are you willing to pay :-) ?

[2019-04-15 07:58] Entrecampos commented on #67
Hi @zohrehBatouei, I have a running app ionic 4 with jwt authentication and connecting with jhispter in backend. With several entities and more stuff like camera and socket.io for a group chat and  one to one chat. It took me around 2 months to upgrade all ionic 3 app, because lot of things. I still need to add more things to the client request. Are you interested that I clean up the code and shar

[2019-04-15 09:16] zohrehBatouei commented on #67
yes of course.
thanks a lot

[2019-04-15 11:05] zohrehBatouei commented on #67
hi Ines Gomes
I'm Zohreh and talked about  jhipster-ionic with ionic4 in githubI must say Thanks for the suggestion.
I would like to do this.Please share it with me and guide me.
Thank you so much

    On Monday, April 15, 2019, 12:58:49 AM PDT, Ines Gomes <notifications@github.com> wrote:

Hi @zohrehBatouei, I have a running app ionic 4 with jwt authentication and connecting with jhispter in back

[2019-04-15 11:26] zohrehBatouei commented on #65
how much satisfied you :-) ?

[2019-04-15 17:28] fleboulch commented on #63
As you want, @Entrecampos :)
I have some free time after my work so I can continue working on it.
By the way, I will keep you updated about my progress
@mraible do you want to keep a compatibility with Ionic3 or not?

[2019-04-15 18:15] mraible commented on #63
If there’s a way to version the starter that’s used, we can keep v3 compatibility by telling people to use the latest 3.x version.

[2019-04-15 18:36] Entrecampos commented on #63
@fleboulch are you doing JWT or OAuth 2.0 authentication?

[2019-04-16 09:50] fleboulch commented on #63
I started with JWT

[2019-04-17 23:46] fleboulch commented on #63
As this issue has been closed for more than 2 months, I opened a new thread [here](https://github.com/oktadeveloper/ionic-jhipster-starter/issues/19)

[2019-04-28 19:32] #67 closed

[2019-04-28 19:32] #58 closed

[2019-05-03 12:21] pmverma opened #68 "Launching the module with "yo jhipster-ionic" is not starting"
With latest jhipster version 6.0.0, `yo jhipster-ionic` fail with following error.

[code]
[code]
##### **JHipster Version(s)**
[code]
cat: no such file or directory: .yo-rc.json

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>

</pre>
</details>

##### **JDL for the Entity configuration(s) `entityName.json` f

[2019-05-03 12:32] pmverma commented on #68
It has been removed in https://github.com/jhipster/generator-jhipster/pull/9384/files

[2019-05-06 15:22] hamzahqureshi commented on #68
I am also getting this error on jhipster version 6.0.0. Is there any workaround until we get a fix ?

[2019-05-06 22:31] mraible commented on #68
There are no workarounds that I know of. I’d suggest using Ionic 3 and JHipster 5. Or wait a couple weeks. I hope to have an Ionic 4 version that works with JHipster 6 completed by the end of May.

[2019-05-08 17:13] NiteshDas commented on #68
This issue is still with Jhipster 5 and ionic 3. Are there any other reason for this error.

[2019-05-08 17:25] mraible commented on #68
@NiteshDas That seems strange since the [PR that removes it](https://github.com/jhipster/generator-jhipster/pull/9384) has a 6.0.0-beta.0 milestone.

I just tried creating an app with JHipster 5.8.2.

[code]

I used [blog.jh](https://github.com/jhipster/jdl-samples/blob/master/blog.jh) to create it.

[code]

Then I used this module to create a new Ionic app.

[code]

As you can see, I don't get th

[2019-05-08 17:26] pmverma commented on #68
@NiteshDas, FYI,  Here is the updated method. You can try using local master branch, I have not tried it though.
https://github.com/jhipster/jhipster.github.io/pull/730/files

[2019-05-12 22:31] SiLenTTz commented on #68
Just follow your error and replace the old: getJhipsterAppConfig with the new: getAllJhipsterConfig.
Afterwards my App (though it was a flutter app) did build.

Thanks @pmverma

[2019-05-16 23:09] GrenardAntoine commented on #65
Same problem here, no solution ?

[2019-05-17 02:30] Arv18 commented on #65
Yes i check this in windows machine, probably i think is only for windows. i dont know why...
And what is the principal difference in use Cordoba (answering "Yes")? only for use the android virtual device?

[2019-05-17 14:02] fleboulch commented on #68
See my [comment](https://github.com/oktadeveloper/generator-jhipster-ionic/pull/69/files#r285137376) you don't have to downgrade to Ionic3

[2019-05-22 19:01] #68 closed

[2019-06-05 18:55] mraible commented on #65
I've also seen this problem happen when you're behind a firewall or proxy. You might try tethering from your phone to see if that works.

[2019-06-05 18:55] #65 closed

[2019-06-05 18:57] mraible commented on #19
Closing this as it seems to be a configuration issue.

[2019-06-05 18:57] #19 closed

[2019-06-05 18:57] #24 closed

[2019-06-05 18:58] mraible commented on #28
Closing since I think this will be solved by Ionic 4 and Ionic AppAuth. See https://scotch.io/tutorials/build-an-ionic-4-app-with-user-login-and-registration for more information.

[2019-06-05 18:58] #28 closed

[2019-06-07 20:22] fleboulch opened #72 "Formatting consistency"
Since the jhipster ionic starter supports ionic V4, the formatting is 2 spaces for all files ([see .editorconfig file](https://github.com/oktadeveloper/ionic-jhipster-starter/blob/master/.editorconfig)).

Whereas the generator uses 4 spaces for indentation.
We have to align both starter and generator.

@mraible I think we should use 2 spaces also for the generator. I checked .editorconfig from pop

[2019-06-07 20:59] mraible commented on #72
JHipster uses 4 spaces, that's why I chose 4. See [app.module.ts.ejs](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs) as an example. However, prettier seems to be reformatting these to 2 (see the [app.module.ts](https://github.com/oktadeveloper/java-microservices-examples/blob/master/jhipster/gateway/src/main/web

[2019-06-12 04:51] mraible commented on #61
I've added Ionic 4 support on the master branch. To try it out, run the following commands:

[code]

Then create a new app and try it out!

[code]

I'm going to close this issue. Please open a new one if you have issues with what's on master.

[2019-06-12 04:51] #61 closed

[2019-06-12 04:53] mraible commented on #64
Can you provide a JDL or entities that are able to reproduce this error? I want to try and see if the problem still exists on the `master` branch. If you like to try it yourself, please run:

[code]

[2019-06-12 05:23] mraible commented on #72
I think it's probably best that we use Prettier like JHipster does, for consistency.

[2019-06-12 16:09] mraible opened #86 "Change entity list screen to allow deleting and editing"
In the 3.x version of Ionic for JHipster, the entity list screen allowed for deleting and editing entities by swiping left. This functionality seems to be lost in 4.x. This issue is to track adding it back in. See [this blog post](https://developer.okta.com/blog/2018/01/30/jhipster-ionic-with-oidc-authentication) for visuals.

[2019-06-13 07:27] mraible commented on #58
I've added Ionic 4 support on the master branch. To try it out, run the following commands:

[code]

Then create a new app and try it out!

[code]

[2019-06-13 07:48] #86 closed

[2019-06-14 05:36] mraible commented on #62
@ruddell Do you think I need to change the code for both iOS and Android or just Android?

[2019-06-14 05:36] mraible commented on #64
Closing due to lack of response.

[2019-06-14 05:36] #64 closed

[2019-06-14 15:23] Entrecampos commented on #62
I think the best way to implement should be upload a photo and read the link as they say here ...
[Uploading pictures from Ionic 4 / Cordova to Spring Boot]( https://golb.hplar.ch/2017/02/Uploading-pictures-from-Ionic-2-to-Spring-Boot.html)

For now my current code for photo ionic4 is, but is

employee.ts
[code]

employee.html

[code]

I have generated only for android

but the best practice  shou

[2019-06-20 07:31] mraible commented on #32
This happens with Ionic 4 as well, but the error is a bit different:

[code]

[2019-06-20 18:24] mraible commented on #32
Fixed by #91.

[2019-06-20 18:24] #32 closed

[2019-06-20 18:24] mraible commented on #62
I believe this is fixed by #91. Please re-open if it's not.

[2019-06-20 18:24] #62 closed

[2019-06-20 19:26] mraible opened #92 "Disable prompt to overwrite files when using OIDC authentication"
<img width="1277" alt="Screen Shot 2019-06-20 at 1 25 34 PM" src="https://user-images.githubusercontent.com/17892/59875806-ed5cc680-935e-11e9-953d-cedf94782f13.png">

[2019-06-20 20:09] mraible opened #93 "Logout on iOS Simulator with Okta doesn't prompt to login again"
If you click on entities, it prompts you to log in. But otherwise, it returns to the home screen and it looks like you're still logged in.

[2019-06-22 07:38] Entrecampos opened #97 "yo jhipster-ionic:entity <entity> events.js:167 throw er; // Unhandled 'error' event"
With jhipster version 6.1.1, yo jhipster-ionic:entity NmsAlertLog fail with following error:

events.js:167
      throw er; // Unhandled 'error' event
      ^

TypeError: this.insight is not a function
    at module.exports.insight (/Users/mirg/Workspace/ionic4j/node_modules/generator-jhipster-ionic/generators/entity/index.js:630:38)
    at Object.<anonymous> (/Users/mirg/Workspace/ionic4j/node_mo

[2019-06-22 07:41] mraible commented on #92
Fixed by https://github.com/oktadeveloper/generator-jhipster-ionic/pull/96.

[2019-06-22 07:41] #92 closed

[2019-06-22 07:43] mraible commented on #97
Try this:

[code]

I've done a lot of testing and I believe this will work with JHipster 6. I'm getting ready to release v4.0.0, so I appreciate any feedback! :)

[2019-06-22 23:50] mraible commented on #97
Please test the latest release: https://github.com/oktadeveloper/generator-jhipster-ionic/releases/tag/v4.0.0-beta.2.

If this still happens, reopen this ticket.

[2019-06-22 23:50] #97 closed

[2019-06-23 07:15] Entrecampos opened #99 "Generated relationship missing"
Thanks for your Great work Matt!

I am testing
https://github.com/oktadeveloper/generator-jhipster-ionic/releases/tag/v4.0.0-beta.2.

It generated the  **nms-alert-type.model.ts**

[code]
`(Note: doesn't generate the **domain** just domain)`

and in the  **nms-alert-type-update.ts**

[code]

gives this error
 ERROR in src/app/pages/entities/nms-alert-type/nms-alert-type-update.ts(72,37): error TS2

[2019-06-23 17:34] mraible commented on #99
Do you have a JDL file with your entitities that I can use to try and reproduce this problem? If not, can you run ”jhipster info” on your JHipster project and paste the output in this issue?

[2019-06-23 19:36] Entrecampos commented on #99
Hi Matt this is a short version

[code]
I have sent the complete model through Linkedin
Is really big ... If I want to generate everything I have to do:

[code]

[2019-06-24 12:06] mraible commented on #99
@Entrecampos I'm experiencing a strange error and I want to make sure you're not seeing it as well. When I run the first `yo jhipster-ionic:entity` command, it prompts me for the existing app and path, then it prompts me to update the entity. When I hit the last question, it stops responding to my input and I'm unable to proceed. Did you experience this issue? I'm unsure how to get passed it.

[co

[2019-06-24 13:27] Entrecampos commented on #99
@mraible I was experiencing that and to solve it I have to upgrade yo

[2019-06-24 15:02] mraible commented on #99
@Entrecampos I tried to fix it in #103. It likely fixes the compilation issues. Here's how to try it locally:

[code]

[2019-06-24 17:33] mraible commented on #93
Seems to happen on Android too.

[2019-06-24 17:46] #99 closed

[2019-06-25 05:27] normyx opened #104 "Error when entity generation"
Hi Matt,
Great work and I was very excited to test this new release.
I got an issue when generating ionic entities (some of them), with the error:
[code]
It happen when generating the entities `Profil`, `ShoppingItem`, `SpentConfig`, `Spent`, `SpentRecurrence`, `SpentSharingConfig`, `SpentSharing`, `Task`, `TaskProject`, `Wallet`
But it works fine for the entities : `ShoppingList`, `Workspace`.
I

[2019-06-25 09:44] mraible commented on #104
Hello @normyx. Thanks for the feedback! I committed a fix in #105. Here's how to try it:

[code]

Create an application:

[code]

When the app is done generating, cd into it and run `npm link generator-jhipster-ionic`.

[2019-06-25 10:36] normyx commented on #104
Hi @mraible ,
Thanks for taking so quickly the issue. But still have an issue, with a different error message:
[code]

[2019-06-25 10:47] mraible commented on #104
I committed an attempted fix in https://github.com/oktadeveloper/generator-jhipster-ionic/pull/105/commits/3097ba5f9409362bbd64076655fa55566a860e6b.

[2019-06-25 11:00] normyx commented on #104
Hi @mraible ,
Generation works now, but compilation failed. I will create another issue.
Thx

[2019-06-25 11:00] #104 closed

[2019-06-25 11:02] normyx opened #106 "Compilation failed"
Hi @mraible ,

based on schema in issue #104 , I have the following error when executing `ionic serve`:
[code]

[2019-06-25 22:56] mraible commented on #106
@normyx Can you try again with the `issue/104` branch? [It should be fixed now](https://github.com/oktadeveloper/generator-jhipster-ionic/pull/105/commits/3e315aa1fb5a8329c46d45d539d9e659948dc03c).

[2019-06-26 15:39] normyx commented on #106
Hi @mraible ,
Thanks very much, generation and compilation are now working well

[2019-06-26 15:39] #106 closed

[2019-07-01 20:23] normyx opened #116 "Type is part of the declarations of 2 modules"
When running `ionic cordova build android --prod --release`, error occurs on each app entity, in my case :
[code]
It seems the module `entity-detail.module.ts` is not needed and causes error in prod compilation phase. Removing it seems to solve.

[2019-07-01 20:30] normyx opened #117 "Property 'platform' is protected ...."
Error occurs when running `ionic cordova build android --prod --release`. In my case:
[code]
Seems that changing `protected` to `public` solve the issue to allow access to platform variable within the `.html`.

[2019-07-01 20:42] normyx opened #118 "Error in entity-update.html"
When referencing a many-to-one relationship, the `formControlName` is invalid and causes error:
[code]
Seems to change in my case `formControlName="taskProject"` to `formControlName="taskProjectId"` in the HTML file solves the issue.

[2019-07-09 13:36] mraible commented on #118
I need more information to reproduce and fix this issue. Do you have a JDL for your JHipster project? If not, can you run `jhipster info` and paste the contents here? Also, please include the commands to generate the entities where the issue happens.

[2019-07-09 14:11] normyx commented on #118
Hi @mraible ,

the JDL is the one in #104 .

[2019-07-18 12:15] Entrecampos opened #127 "Generated html missing '?' after entity to avoid undefined field error"
It generate fields without '?' after entity
{{myEntity.myField}}
and it gives an error that can't get field from undefined on run
because page was load before entity.

Changed to
{{myEntity?.myField}}

and is working :-)

[2019-07-18 12:50] Entrecampos commented on #29
Hi @mraible,

Is it difficult to add option `-yesToAll` and the path for backend
That would reply yes to all and considered my Backend Path?
Something like?
`yo jhipster-ionic:entity MyEntity -yesToAll ../MyBackEnd`

 With 100 entities is just run that and we have the same as jdl :-)

Example: When I generate backend I get only for the changed entities:

[code]

I would replace by

[code]
And run

[2019-07-19 00:21] uouo690 opened #129 "403 forbidden when deploy back end to production jwt authentication"
Hi ,

Thanks a lot for your work to create such wonderful generator.
I created the ionic app and I could run every thing locally , but when I pushed the back end to production environment I couldn't get the apk  on the mobile to authenticate.
The response is 403 forbidden when trying to authenticate.
I changed the url in `environment.ts` and `environment.prod.ts` .
p.s : my application is microser

[2019-07-19 14:21] MInesGomes opened #130 "Pwa Contributing ?"
I am going to change the generator for generate more screens like these,
[https://youtu.be/9_yXxz-EJIk](https://youtu.be/9_yXxz-EJIk)
1-That can be responsive (Hide columns according to screen size or organize div blocks),
2-Can order and search.
3-And have a custom component header with logout button.

Do you think it can be useful to someone else?

If so, what is the best way to not have conflic

[2019-07-21 21:39] uouo690 commented on #129
Hello again ,

As indicated in this issue.
https://github.com/jhipster/generator-jhipster/issues/10125

The ionic generator seem to write 'service' instead of 'services' when prefixing the call to micro-service .

Thanks in advance

[2019-07-23 18:03] #116 closed

[2019-07-23 18:03] #117 closed

[2019-07-24 04:03] mraible commented on #130
We'd love your contribution! I'd try forking the generator and making your changes. Search is definitely something I'd like to add when the backend uses Elasticsearch. Left menu vs tabs would be cool too. We could add it as a question when you're creating your project.

[2019-07-24 04:05] mraible commented on #127
I believe I fixed this today in https://github.com/oktadeveloper/generator-jhipster-ionic/commit/e43b8bb7430da1bf58371537ecaa9b252ca20d43.

[2019-07-24 04:05] #127 closed

[2019-07-24 04:23] mraible commented on #118
@normyx I tried to reproduce this using a default JHipster 6.1.2 app. I'm unable to get past the "Task Projects" screen in Ionic because there's an error on the server.

[code]

Here's the `.yo-rc.json` from my JHipster app:

[code]

Here's the JDL I'm importing:

[code]

[2019-07-24 04:23] mraible commented on #118
I'm guessing this one will be easier to test and fix when `import-jdl` is implemented. I'm currently tracking that at https://github.com/oktadeveloper/generator-jhipster-ionic/issues/29.

[2019-07-24 04:24] #129 closed

[2019-07-24 15:54] fleboulch commented on #130
+1 for left menu/tabs question ! I will go even further with a 3rd option : combining both

This 3rd option should be good for admin section (I will try to implement this if I have time)

Link: https://ionicacademy.com/ionic-4-tabs-side-menu/

[2019-07-24 16:21] fleboulch opened #139 "Add Heroku deployment option"
It should be great to have Heroku option for cloud deployment.

I have a working example for an Ionic v3 app here: https://github.com/fleboulch/fast-msg-heroku/pull/1

[2019-07-24 18:27] Entrecampos commented on #130
@fleboulch @mraible Great!
I made an example app here  https://github.com/Entrecampos/Ionic4-hipster-pwa
with Left Menu & Tabs

[2019-07-25 10:23] Entrecampos commented on #130
How do I make a link to the app generator and not only to the entity generator?

I will need to change these files:
app-routing.module.ts
app.component.ts

and I implemented a Header Component in
generator-jhipster-ionic/generators/app/templates/src/app

I forked here [https://github.com/Entrecampos/generator-jhipster-ionic](https://github.com/Entrecampos/generator-jhipster-ionic)

[2019-07-25 12:30] fleboulch commented on #130
@Entrecampos `app-routing.module.ts` and `app.component.ts` files are in the [starter repo](https://github.com/oktadeveloper/ionic-jhipster-starter/tree/9e47f918da9c56c28c711c42dec149bd7e9f5545). You need to fork it too.

To build this project you can follow the [contributing guide](https://github.com/ionic-team/starters/blob/master/CONTRIBUTING.md).
Once your PR has been merged, you will be able

[2019-07-25 13:55] Entrecampos commented on #130
Thanks @fleboulch.
There is no package.json. How did you install node modules?

[2019-07-25 14:31] fleboulch commented on #130
Following the contributing guide you have to run `npm run starters:build -- angular/community/oktadeveloper/jhipster` command to build the project

Cmd is just for printing a log. I put a raw string in french to be sure that the local install will be used (and not the global one)

[2019-07-25 16:02] Entrecampos commented on #130
Thanks @fleboulch

I think I need a package.json ...

After _'cloning'_
I did
`npm i`

and get

[code]

and tried
[code]
and now

[code]

[2019-07-25 16:23] fleboulch commented on #130
`npm i` is not sufficient. You need also to run `npm run src:build` :)

[2019-07-25 16:26] Entrecampos commented on #130
Thanks @fleboulch

Do I have to run this in other directory?

I am running in the _cloned_ directory
ionic-jhipster-starter

It gives the same error ...
[code]

[2019-07-25 17:49] fleboulch commented on #130
This command has to be run on the ionic-starter repo and not on the ionic jhipster repo. You don't need to run any command in the ionic-jhipster starter repo.

I will try to add a documentation for this purpose because there is couple things to do.

[2019-07-26 16:02] fleboulch opened #141 "Create a doc for contribution"
Having a working local project when you want to upgrade/fix the generator and/or the starter requires a series of commands.

A doc will help people to contribute to this project.

I will write it next week

[2019-07-26 16:36] mraible commented on #141
There is already a document, but you could certainly enhance it.

https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/CONTRIBUTING.md

[2019-07-28 09:22] fleboulch commented on #141
Yes, I would like to describe the process when working with the starter.

I will add the doc in the generator repo and add a link to this doc in the starter

[2019-07-30 21:31] mraible commented on #29
@Entrecampos I originally tried to do `yo jhipster-ionic:entity *`, but was unable to capture the asterisk character. It seems it's being swallowed by Yeoman.

I agree that we should have one command that generates all entities. I think import-jdl is the most familiar to people using JHipster, so that's what I'd like to support.

[2019-07-31 04:02] Entrecampos commented on #29
@mraible Yes it makes sense jdl. But if possible -yesToAll would be great :-)

[2019-08-05 21:34] mraible opened #146 "ionic4j CLI doesn't work: Cannot read property 'blueprint' of undefined"
I thought running `ionic4j` would work after merging https://github.com/oktadeveloper/generator-jhipster-ionic/pull/112, but it doesn't.

Running `ionic4j` results in:

[code]

When I install it with `npm i -g generator-jhipster-ionic`, it registers the commands:

[code]

Any ideas @deepu105 or @sendilkumarn?

[2019-08-22 07:29] Entrecampos opened #152 "--prod (routing problems) detail is part of the declarations of 2 modules:"
Detail is part of entity-detail.module.ts and of entity.module.ts.

ERROR in : Type EntityDetailPage in /Users/mirg/Workspace/NmsIonic/src/app/pages/entities/entity/entity-detail.ts is part of the declarations of 2 modules: NmsAlertDetailPageModule in /Users/mirg/Workspace/NmsIonic/src/app/pages/entities/entity/entity-detail.module.ts and NmsAlertPageModule in /Users/mirg/Workspace/NmsIonic/src/ap

[2019-08-24 22:54] mraible commented on #29
@deepu105 I see that `import-jdl.js` in JHipster is not a generator, so it's not as easy to extend as the [entity generator was](https://github.com/oktadeveloper/generator-jhipster-ionic/pull/109). Do you know if it's possible to extend `import-jdl` from JHipster and implement it in Ionic (which is a Yeoman module, not a blueprint). If not, I can probably just copy/paste the whole thing.

Thanks!

[2019-09-02 09:09] Entrecampos commented on #130
How can I solve conflicts In index.js  ?

I add this

[code]

and line 122

[code]

and at line 420

                context.fieldsContainActive = false;

and at line 745

  if (field.fieldName.length > 1) {

                            if (field.fieldName === 'active') { context.fieldsContainActive = true; }

[2019-09-05 14:51] mraible commented on #130
@Entrecampos Did you figure out how to solve your conflicts? It's tough to know how to resolve them without looking at the actual conflict.

[2019-09-05 14:54] Entrecampos commented on #130
If I remove these changes from index.js doesn't give any conflict

[2019-09-05 15:06] mraible commented on #130
I haven't seen any of this code before, so I'm not sure what you're referring to. Is this code you wrote? Is there a PR that shows the conflict so I can take a closer look?

[2019-09-05 15:21] Entrecampos commented on #130
Yes.I wrote this code is in the pr for pwa

[2019-09-05 15:22] Entrecampos commented on #130
https://github.com/oktadeveloper/generator-jhipster-ionic/pull/140

[2019-09-05 15:42] Entrecampos commented on #130
![roomActiveInactive](https://user-images.githubusercontent.com/3248158/64357168-77363a80-d004-11e9-83ff-e49643053637.gif)

[2019-09-05 15:47] Entrecampos commented on #130
@mraible The idea is to generate the smallest code for app.
Sometimes I only need a list and not edit page or detail page (that is giving an error with -prod option).
And sometimes I have a table with 3 fields that would be better to edit inline.
I am still implementing it.

[2019-09-05 16:04] Entrecampos commented on #130
@mraible
![userEditR](https://user-images.githubusercontent.com/3248158/64358920-a0a49580-d007-11e9-9c72-ffecc7b1e4e5.gif)

[2019-09-06 08:32] Entrecampos commented on #130
The starter is here [https://github.com/Entrecampos/Ionic-hipster-pwa](https://github.com/Entrecampos/Ionic-hipster-pwa)

[2019-09-07 05:26] pmverma opened #162 "/bin/sh: ng: command not found"
I am generating an app but failing with `/bin/sh: ng: command not found`.
Starter Welcome:
Welcome to the Ionic JHipster Starter!

The Ionic JHipster Starter ships with login and signup that will work with a JHipster backend (with JWT Authentication).

For more details, please see the project's README:
https://github.com/oktadeveloper/ionic-jhipster-starter/blob/master/README.md

[INFO] Next Steps

[2019-09-07 07:32] mraible commented on #162
When using OIDC for Auth, you need to install Angular CLI as well.

npm install -g @angular/cli

[2019-09-07 12:10] pmverma commented on #162
Thanks a lot @mraible.

[2019-09-07 12:10] #162 closed

[2019-09-07 12:25] pmverma opened #163 "Getting a warning message regarding css attributes"
![image](https://user-images.githubusercontent.com/5289123/64474841-7c2ff100-d1a0-11e9-92cf-0281f4bb67e3.png)

[2019-09-09 11:46] mraible commented on #152
Fixed by https://github.com/oktadeveloper/generator-jhipster-ionic/pull/124.

[2019-09-09 11:46] #152 closed

[2019-09-09 11:52] Entrecampos commented on #152
Xi... Sorry for the trouble @mraible.

[2019-09-09 12:55] MInesGomes opened #165 "Blob Type saving the entity, but not the file"
Fot his entity

[code]

Generates:

nms-domain-update.html

[code]

after removing

`style="display: none" `

and adding ?
`<div *ngIf="nmsDomain?.emailWelcome">`

[code]

saves the entity, but not the blob

[2019-09-09 23:40] #163 closed

[2019-09-09 23:49] mraible commented on #118
I just tried this JDL with JHipster 6.2.0 and [this fix](https://github.com/oktadeveloper/generator-jhipster-ionic/pull/159) to add `import-jdl`. I'm happy report that everything compiles and works!

[2019-09-09 23:49] #118 closed

[2019-09-12 12:21] #29 closed, assigned to nobody

[2019-09-13 16:22] #72 closed

[2019-09-13 17:29] mraible commented on #146
Fixed in 4.1.0 release!

[2019-09-13 17:29] #146 closed

[2019-09-16 09:09] MInesGomes commented on #130
Need help @mraible! I can't run my own changes.
I did npm link in my local clone:
~/.nvm/versions/node/v10.14.2/lib/node_modules/generator-jhipster-ionic -> ~/Workspace/gener/generator-jhipster-ionic

but when I do yo jhipster-ionic:entity MyEntity --list --edit --force It runs the master content and not my pwa branch changes.

Am I doing something wrong?

[2019-09-16 10:21] mraible commented on #130
I would try running npm unlink in your project or npm uninstall -g generator-jhipster-ionic to make sure you have it fully uninstalled. Then try npm link again. Another technic is to run npm pack and then npm install -g /path/to/tar.gz.

[2019-09-16 11:57] mraible opened #170 "Add unit and e2e tests for generated entities"
- [x] Add unit test templates
- [x] Add e2e test templates
- [x] Add entity generation (with JDL) to CI process

[2019-09-16 13:00] MInesGomes commented on #130
Thanks for you help @mraible .

How do I now is calling clien4 templates and not client or jdl folder?

I started clean uninstall & install -g generator-jhipster-ionic

And with no link Just :
`yo jhipster-ionic:entity MyEntity `

generated also this extra file that was deleted in July
`
src/app/pages/entities/nms-tenant/my-entity-detail.module.ts`

When I tried with my changes it gave this warnin

[2019-09-16 13:04] mraible commented on #130
You might try merging the master branch into your branch. This line looks funny since I removed “ionic4j:entity” as a mapping for the CLI.

[2019-09-16 17:52] MInesGomes commented on #130
Thanks @mraible
I manage to have the most recent version!

index.js changed a lot ...

`fieldsContainImageBlob` used to be set there ...
Where are they set now?

[2019-09-16 18:02] mraible commented on #130
Not much changed in the templates, we just changed to use the same entity generator as JHipster. See the following for available variables.

https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js

[2019-09-20 13:28] subbu519 opened #173 "How can i create ionic app Communicate with my jhipster micro service"
I have java services which are generated with jhipster and uaa server for authentication and gateway, and registry. how can I communicate with my microservice apps with my ionic application

[2019-09-20 13:34] mraible commented on #173
This module only supports JWT and OIDC for authentication. I have no plans to add UAA authentication support.

[2019-09-20 13:34] #173 closed

[2019-09-20 13:40] subbu519 commented on #173
Ok thank You

[2019-09-20 14:54] amatosg commented on #173
sorry to step in, but I wonder if session-based authentication is supported?

[2019-09-20 14:58] mraible commented on #173
No. As I mentioned earlier, only JWT and OIDC is supported. Session isn't supported for JHipster microservices and I don't think it'd be possible to support with Ionic for JHipster because you can't share cookies across domains.

Theoretically, UAA _could_ be supported, but I'm not interested in maintaining it.

[2019-10-30 22:06] mraible opened #198 "In 4.3.0, the import-jdl command still prompts for backend location"

[2019-10-31 00:16] #198 closed

[2019-11-22 13:00] drimtim5390 opened #208 "Import-jdl error"
Import-jdl command throws error:
INFO! The JDL is being parsed...
INFO! File .jhipster-ionic.json not found. Please run this command in an Ionic project.
TypeError: jhiCore.JDLImporter is not a constructor

I'm sure i'm running this command inside ionic project and .jhipster-ionic.json exists.
OS : Windows 10
JHipster: 6.5.1
Ionic4j: 4.3.1

Any ideas why?

[2019-11-22 15:39] mraible commented on #208
Did you get this error after creating a new project? Please provide steps to reproduce.

[2019-11-23 01:41] Guangrun commented on #208
Hello Mraible, I got the same error.

OS : Windows 10
JHipster: 6.5.1
Ionic4j: 4.3.1

here are the steps to reproduce:

# create backend with jhipster
mkdir backend
cd backend
jhipster
# put jdl file my.jh into backend folder, then import jdl
jhipster import-jdl my.jh

# create ionic app
cd ..
mkdir myionic
cd myionic
yo jhipster-ionic
# .... I choose ../backend as backend
# .... type ionic appnam

[2019-11-23 16:22] mraible commented on #208
First of all, you don't need to create a directory for your Ionic app, it'll create one for you.

I just tried it with [this one](https://github.com/jhipster/jdl-samples/blob/master/blog.jh) and was able to reproduce the problem.

[code]

The file is there, so something is getting messed up. Thanks for reporting this issue!

[2019-11-24 00:36] mraible commented on #208
This should be fixed in the [4.3.2 release](https://github.com/oktadeveloper/generator-jhipster-ionic/releases/tag/v4.3.2). For some reason, CI builds are not passing, but I released it anyway since tests pass locally. Please give it a try and let me know if it works.

[2019-11-24 00:36] #208 closed

[2019-11-24 00:36] mraible commented on #165
Can you please confirm this is still an issue with the latest release (4.3.2)?

[2019-11-24 00:37] mraible commented on #139
@fleboulch Is this something you're still working on? If not, please close this issue.

[2019-11-24 09:17] fleboulch commented on #139
No I don't work on it. I'm closing it

[2019-11-24 09:17] #139 closed

[2019-11-25 05:40] drimtim5390 commented on #208
It works!

[2019-11-26 08:06] Guangrun commented on #208
The latest release works well. Thank you.

drimtim5390 <notifications@github.com> 于2019年11月25日周一 上午6:40写道：

--
LIN Guangrun
Mobile 06 99 50 60 51

[2019-11-27 22:07] tchronis opened #212 "generator 4.3.2 ionic4j import-jdl <entities.jdl> with Jhipster 6.5.1 does not generate entities - only .jhipster is created"

[2019-11-28 15:00] tchronis commented on #212
run with --server only flag so probably it could not find angular code.

[2019-11-28 15:00] #212 closed

[2020-02-22 21:44] manisi opened #245 "customize <ion-datetime> for convert gregorian calendar to jalaali calendar and vice versa meaning"
hi
please add  localization<ion-datetime>  config to Jalaali calendar instead of gregorian calendar.
thanks

[2020-02-24 04:50] mraible commented on #245
Can you explain the problem that you're currently seeing? If you know how to fix it, can you please provide that code too?

[2020-02-24 09:55] manisi commented on #245
Hello mraible
Jalali's glorious calendar with -jalaali moment  in ionic
for jalaali calendar like :
<img width="387" alt="Screen Shot 2020-02-24 at 13 05 54" src="https://user-images.githubusercontent.com/3120328/75141940-41e2ed80-5707-11ea-902b-57774c9915db.png">
 default:
<img width="382" alt="Screen Shot 2020-02-24 at 13 07 25" src="https://user-images.githubusercontent.com/3120328/75141976-53c

[2020-02-24 09:56] manisi commented on #245
for example:
<img width="382" alt="Screen Shot 2020-02-24 at 13 07 25" src="https://user-images.githubusercontent.com/3120328/75141809-ffb9ac00-5706-11ea-83d7-f9d10dcdd7b1.png">

[2020-02-28 12:41] manisi opened #252 "An accessor cannot be declared in an ambient context."
Hi mraible
after generate Entity (yo jhipster-ionic:entity sample) then  ionic serve  :

[ng] node_modules/@ng-bootstrap/ng-bootstrap/tooltip/tooltip.d.ts:101:9 - error TS1086: An accessor cannot be declared in an ambient context.
[ng] 101     get ngbTooltip(): string | TemplateRef<any>;

    "@angular/common": "~8.2.14",
    "@angular/core": "~8.2.14",
    "@angular/forms": "~8.2.14",
    "@angul

[2020-03-11 04:16] mraible commented on #252
Have you figured out the solution?

[2020-03-11 04:16] mraible commented on #245
I'm sorry, I don't know how to do this. I'd suggest you ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/ionic-framework).

[2020-03-11 04:16] #245 closed

[2020-03-11 12:10] manisi commented on #252
I just changed the ng-bootstrap to 5.1.1 and the problem fixed but I don’t
Know everything is ok.
Thanks

On Wed, Mar 11, 2020 at 7:46 AM Matt Raible <notifications@github.com>
wrote:

[2020-03-11 20:52] manisi opened #259 "Does not match formControlName"
in entity generator  entity relation (one to many OR many to one)  the name of formControlName in html and ts file does not match.

 medicalcoastId: this.form.get(['medicalcoastId']).value, (ts)
<ion-select id="field_medicalcoast" formControlName="medicalcoast"  (html)

version: 5.0.1

Thanks

[2020-03-11 21:14] mraible commented on #259
Do you have a JDL file I can use to reproduce this problem? Or you can send a pull request to fix. ;)

[2020-03-12 05:41] manisi commented on #259
jdl file:

entity Medicalcoast {
  date LocalDate,
  coast Float required,
  mobile String required,
  rahgiriCode String,
  status Status,
  created Instant,
  docFile ImageBlob,
}

 enum Status {
    CANCEL, CONFIRM, PAY
}
entity Document {
    title String required,
    docType String,
    docSize String,
  docFile ImageBlob required,
  taken Instant,
}

relationship OneToMany {
  Medicalcoast{

[2020-03-13 00:24] mraible commented on #259
Can you please share the output from `jhipster info` in your JHipster app so I can create that?

[2020-03-13 03:33] manisi commented on #259
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.insurance.gateway",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "6.8.0",
    "applicationType": "monolith",
    "baseName": "MobileGa

[2020-03-16 21:18] MauricioPenteado opened #266 "Error: AuthConfig Not Defined"
Hi folks

I generated a back-end / front-end project (Angular) detached with OAuth2 authentication (Keycloak) and everything worked as expected.

The project is extremely simple, with no JDL definitions.

So, I generated an Ionic project linking it to my backend project.
Unfortunately, something happened and I can't login to my Ionic project.

I got an error in the browser console described as "Au

[2020-03-16 21:52] MauricioPenteado commented on #266
It is weird.
My Ionic generator seems to downgrade the generator-jhipster.
Could it be my problem? A backend generated using generator-jhipster@6.8.0 and an Ionic app generated using generator-jhipster@6.7.1

[2020-03-17 15:33] mraible commented on #266
I'm on vacation this week so sorry if my responses are slow. You should be able to upgrade to JHipster 6.8.0 in your Ionic app to see if it helps.

[2020-03-17 19:56] MauricioPenteado commented on #266
Hi Matt,

I don't understand why my Ionic generator 5.0.1 is using jhipster 6.7.1.
My global jhipster is 6.8.0.

What I did to fix my problem temporarily was to downgrade the global jhipster to 6.7.1 and generate everything using this version.

I saw that jhipster 6.8.0 is using Keycloak 9  as OpenID Connect server.
Therefore, I wonder if the reported error could be any incompatibility between Ion

[2020-03-18 14:29] MauricioPenteado opened #268 "JDL entities are not generated in Ionic projects"
Hi folks,

I am not able to generate Ionic entity views on my Windows 10.
Please, any help will be well seen.

When importing the JDL entities using " **yo jhipster-ionic:import-jdl blog.jdl** " I received the follow message:

[code]
The messages above looks good, but I do not have entity views generated:

[code]
Below there is a screenshot of my app execution:

![Ionic-Entities-Empty](https://use

[2020-03-20 10:37] MauricioPenteado commented on #268
I got the same result working on CentOS 7.

[2020-03-20 16:55] MauricioPenteado commented on #268
I have already tested different versions of jhipster-ionic with no success.
Different JDL files were tested as well, but I have never seen new src/pages/entities/{custom entities} files be created.
It is frustrating.
I have watched different courses where those files were created.
No idea about what I am doing wrong.

[2020-03-22 21:42] mraible commented on #266
This is because Ionic for JHipster has a dependency on JHipster, but it hasn't been upgraded to the latest release. In the meantime, you can workaround it by creating your Ionic app, then upgrading the version of JHipster it uses (in its `package.json`). You'll need to run `npm install` after you update the version.

[2020-03-23 06:47] mraible commented on #268
Thanks for reporting this issue. I'm able to reproduce it and will try to fix it this week.

[2020-03-24 05:54] mraible commented on #268
@MauricioPenteado It seems something in JHipster 6.7.0+ breaks the import-jdl command. If you change your Ionic app to use `generator-jhipster` v6.7.0, it should fix the problem. See https://github.com/jhipster/generator-jhipster/issues/11501 for more information.

[2020-03-24 06:58] mraible commented on #252
Stack Overflow suggests downgrading ng-bootstrap to 5.2.2 to solve this issue.

https://stackoverflow.com/questions/60348728/after-i-install-ng-bootstrap-and-compile-i-get-this-error

We're currently using ng-bootstrap 6.0.0, which targets Angular 9.

Please try downgrading and let me know if it works.

[2020-03-24 08:44] MathieuAA commented on #268
I'll check that

[2020-03-24 11:25] MauricioPenteado commented on #266
Nice! I have tested the workaround suggested and it works!
Many thanks Matt.
Cheers.

[2020-03-24 11:25] #266 closed

[2020-03-24 14:24] MauricioPenteado commented on #268
Hi guys,

I did a curious discovered using jhipster 6.8.0.

First, I created the same backend project discussed above, but using the old command "**yo jhipster:server**" and **Maven** as the dependency manager.

Secound, I imported the blog.jdl in backend app using "**jhipster import-jdl blog.jdl**". The results were: the jdl file was imported and the entities were created, but it produced an erro

[2020-03-24 15:13] MauricioPenteado commented on #268
Sadly, I got the same error regenerating the original App using "**jhipster v6.7.0**".

[2020-03-24 16:25] #252 closed

[2020-03-24 16:29] mraible commented on #268
The version you use for the backend has little to do with the Ionic frontend. The Ionic for JHipster module has the following:

[code]

This means that any version of JHipster 6.5.1+ should work. The endpoints that Ionic relies on haven't changed since 6.5.1.

However, the Ionic app that's generated has a dependency on JHipster because it leverages the entity generator as well as JHipster Core (fo

[2020-03-24 16:29] #268 closed

[2020-03-24 16:41] manisi commented on #252
Hello Matt
I used version 5.3.0  and that’s ok
Thanks

On Tue, Mar 24, 2020 at 8:55 PM Matt Raible <notifications@github.com>
wrote:

[2020-03-24 20:52] direstrepo24 commented on #58
Hi @mraible . i get hit error:
yo jhipster-ionic:entity Album

Just found a `.yo-rc.json` in a parent directory.
Setting the project root at: /Users/themakers/eohel/eohelstore
events.js:200
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'directoryPath' of undefined
    at EntityGenerator.loadConfig (/usr/local/lib/node_modules/generator-jhipster-ionic/generator

[2020-03-24 20:53] direstrepo24 commented on #58
+ generator-jhipster-ionic@5.0.1
+ @ionic/cli@6.3.0
+ @angular/cli@9.0.7

[2020-03-24 21:01] mraible commented on #58
This is your problem:

[code]

Are you trying to create your Ionic app in your JHipster app's directory? If so, this won't work. It needs to be on the same level as your JHipster app. For example:

[code]

If you're not creating it in your JHipster app, you probably have a stray `.yo-rc.json` that you need to remove from a parent directory.

[2020-03-24 21:51] #259 closed

[2020-03-25 00:19] mraible opened #278 "Migrate to GitHub Actions"
Travis is being weird and taking a long time to report status. Also, it's job list [shows 5](https://travis-ci.org/github/oktadeveloper/generator-jhipster-ionic/builds/666516817) when there's only [4 configured in the matrix](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/.travis.yml#L36).

[2020-03-25 00:34] #165 closed

[2020-03-25 17:12] MauricioPenteado opened #279 "v5.1.0 - Keep not generating JDL entities in Ionic projects"
Hi folks,

It is linked to my previous created error:
https://github.com/oktadeveloper/generator-jhipster-ionic/issues/268

I did have expectation that jhipster-ionic v5.1.0 would fix the error linked above, but the results are the same.

There is only an additional message now after importing the JDL entities using " **yo jhipster-ionic:import-jdl blog.jdl** ":
[code]
But the entities folder keep

[2020-03-25 18:17] mraible commented on #279
Well, that sucks. I'm not sure what's causing this problem now. I was able to reproduce it.

[code]

After it finishes, no files are created.

[code]

[2020-03-25 21:06] direstrepo24 commented on #58
ok, fine. But, i create a entity: yo jhipster-ionic:entity Album, and get this error Cannot GET /
ERROR in node_modules/@ng-bootstrap/ng-bootstrap/accordion/accordion.d.ts:191:9 - error TS1086: An accessor cannot be declared in an ambient context.
[ng] 191     set ngbPanelToggle(panel: NgbPanel);

[2020-03-25 22:05] mshima commented on #279
Can you confirm, that the `.jhipster` folder inside `mobile` is already populated.
If you remove it and then re-run, the files will be created.

There is a jhipster-core (enabled by default) option that doesn't returns the entity if it didn't changed.
This will make exportedEntities empty and the entity generator will fail.

[2020-03-26 00:59] mraible commented on #58
If you downgrade your ng-bootstrap dependency to 5.3.0, does it solve your problem?

[2020-03-26 03:28] direstrepo24 commented on #58
no, update a version 5.1 and already work.

[2020-03-26 06:54] #279 closed

[2020-03-26 14:08] mraible commented on #279
@mshima figured out what the problem was. Ionic4J is reading your JHipster app's `.yo-rc.json` and setting `skipClient: true` - and therefore skips the generation of files. As a temporary workaround, you can remove this property in `backend/.yo-rc.json`, run import-jdl in Ionic, then add it back in.

[2020-03-26 14:45] amanganiello90 commented on #170
Starting on [feature/entity-tests branch](https://github.com/amanganiello90/generator-jhipster-ionic/tree/feature/entity-tests)

[2020-03-26 14:47] MauricioPenteado commented on #279
I can confirm it now, the workaround worked as expected.
Cheers :)

[2020-03-26 19:36] MauricioPenteado commented on #279
Sadly, I found a bad behavior linked to this workaround.
Although the expected files were successful generated, it breaks down keycloak authentication:

[code]

To generate it, just do the creation of a backend app skipping the client, set it to use keycloak and do not import any JDL file.
After that, do the creation of an ionic app and test its authentication, everything should work.

Now, import

[2020-03-27 21:34] mraible commented on #279
@MauricioPenteado This happens when you start your Ionic app and your backend is not running. Clear your local storage for your app and try again (or use an incognito window) with your backend running. I just tried it and it works for me.

[2020-03-27 21:36] mraible commented on #279
Here's the logic that handles grabbing the config from the JHipster backend.

[code]

If you can think of any way to improve this code, please let me know.

The [Ionic AppAuth example](https://github.com/wi3land/ionic-appauth-ng-demo/blob/master/src/app/core/auth.service.ts) uses the environment to store configuration in, but I don't think you can dynamically set that.

[2020-03-27 21:49] mraible commented on #170
@amanganiello90 I created a PR today that [formats all the project's files with Prettier](https://github.com/oktadeveloper/generator-jhipster-ionic/pull/284). I can hold off on merging it if it makes things harder for you.

Related: I need to rename all the templates so Prettier recognizes them as EJS files.

[2020-03-27 23:21] mraible commented on #279
FWIW, I released [v5.1.1](https://github.com/oktadeveloper/generator-jhipster-ionic/releases/tag/v5.1.1) today.

[2020-03-28 09:20] amanganiello90 commented on #170
You can merge it. It's not a problem, I'm creating new templates for tests, and these are already ejs type.

[2020-03-30 15:32] domdp16 commented on #208
I still have the same error for the version 5. Do you have idea for solve the problem?
**This is the command:** yo jhipster-ionic:import-jdl jhipster-jdl.jh

`INFO! The JDL is being parsed...
INFO! File .jhipster-ionic.json not found. Please run this command in an Ionic project.
TypeError: Cannot read property 'import' of undefined
events.js:200
      throw er;  Unhandled 'error' event
TypeError:

[2020-03-30 15:35] mraible commented on #208
@domdp16 Are you running this command inside your Ionic app's directory? Did you create a new app with the 5.1.0 release?

[2020-03-30 20:34] MauricioPenteado commented on #279
Well done folks!! This new version is working perfectly.
Matt many thanks for your attention. Your tips have helped me a lot to understand how to work with JHipster-Ionic.
The logic that handles grabbing the config from the JHipster backend described above is working beautiful.
I hope that soon I will be able to propose changes to the JHipster code helping further.
Cheers!

[2020-03-31 07:17] DonCziken opened #286 "Import jdl not produces entities"
As in topic I have an issue with importing any (I've even tried one with single entity) jdl file, basically there is no result of doing it (no entities and infra around them is generated).

[2020-03-31 14:07] mraible commented on #286
What version of Ionic4J are you using?

Can you please copy/paste the output of "jhipster info" from your backend.

What is the JDL you're using?

[2020-03-31 14:37] DonCziken commented on #286
@mraible

I had actually updated jhipster and jhipster ionic to latest version and **it seem to work all good now**! As I can see following changes to happen:

[code]

Just for the record following were versions with which I had a problem with:

[code]

Following was output of running jdl import (so it had seen the entity):

[code]

Json files were created but thats it, no changes to JS/ionic code

[2020-03-31 14:48] mraible commented on #286
We did have an issue in 5.0.1 (and likely previous versions) that if you had `skipClient: true` in your JHipster app, it skipped entity generation for Ionic. I'm glad to hear it's working now.

[2020-03-31 14:48] #286 closed

[2020-04-03 07:46] mraible commented on #278
Nice work everyone! Thanks for the help. 🙏

[2020-04-03 07:46] #278 closed

[2020-04-03 07:47] mraible commented on #170
Awesome work @amanganiello90!

[2020-04-03 07:47] #170 closed

[2020-04-03 19:31] Hawkurane commented on #278
Yes, it should be possible:

https://github.com/hipster-labs/jhipster-daily-builds/blob/master/.github/workflows/jdl-ms-redis-mysql.yaml#L76

The job will search by order of priority: matrix, then the general environment if it hasn't been declared. So you can use it in the .yml.

[2020-04-08 18:23] mraible opened #301 "e2e tests are failing because of Chrome 81"
From https://github.com/oktadeveloper/generator-jhipster-ionic/runs/571612608?check_suite_focus=true#step:10:1062:

[code]

Related: it'd be good to modify the CI process to skip tags.

[2020-04-09 19:05] #301 closed

[2020-08-20 09:45] swapnil1505 opened #366 "issue with unsatisfiedDependencyException org.springframework.beans.factory"
------jhipster info----
Microsoft Windows [Version 10.0.18362.1016]
(c) 2019 Microsoft Corporation. All rights reserved.

G:\>cd mymobile

G:\mymobile>cd app

G:\mymobile\app>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Ve

[2020-08-20 21:52] mraible commented on #366
You need to start Keycloak when using JHipster with OAuth 2 or configure your app to use Okta.

[2020-08-20 21:52] #366 closed

[2020-08-21 03:39] swapnil1505 commented on #366
Microsoft Windows [Version 10.0.18362.1016]
(c) 2019 Microsoft Corporation. All rights reserved.

G:\>cd mymobile

G:\mymobile>cd app

G:\mymobile\app>docker-compose -f src/main/docker/keycloak.yml up -d
ERROR: Couldn't connect to Docker daemon - you might need to run `docker-machine start default`.

G:\mymobile\app>docker-machine start default
Starting "default"...
(default) Check network to re-c

[2020-08-21 04:49] mraible commented on #366
Looks like you're having issues with Docker. This is not related to Ionic for JHipster, so I'm closing this issue. Please post this problem as a question on Stack Overflow with JHipster and Docker tags.

[2020-08-21 05:39] swapnil1505 commented on #366
No their is no issue with docker. docker machine has started and running.we have to start docker -machine and config env.
you can see at the bottom in bold.
G:\mymobile>cd app
G:\mymobile\app>docker-compose -f src/main/docker/keycloak.yml up -d
ERROR: Couldn't connect to Docker daemon - you might need to run docker-machine start default.
G:\mymobile\app>docker-machine start default
Starting "defau

[2020-08-21 05:47] mraible commented on #366
I'm sorry you're having trouble. Is it possible for you to post your question on Stack Overflow and tag it with "JHipster"? That way, more members of the JHipster team will see it. We'll do our best to help you there.

[2020-08-21 05:51] swapnil1505 commented on #366
ok

[2020-10-01 15:23] mraible opened #388 "Change default logo to randomly choose from JHipster family"
This is what JHipster does when it generates a new app.

[2020-10-05 09:43] smunir opened #389 "Account tab is empty"
Account tab in generated app using 6.0.0 is empty.
**ng --version output:**
Your global Angular CLI version (10.1.4) is greater than your local
version (9.0.4). The local Angular CLI version is used.
**ionic --version output:**
6.11.10
**jhipster --version output:**
6.10.3

To reproduce, generate ionic app using yo jhipster-ionic, account page is empty.

account.page.html
[code]

[2020-12-23 10:14] topalavlad opened #419 "Translation file for Romanian not generated: ro.json"
I generated the ionic application based on a jhipster project that has two languages: English and Romanian.

I started both projects and after I login, I get: `GET http://localhost:8100/assets/i18n/ro.json 404 (Not Found)`
After a refresh the application switches to English.

[2020-12-23 21:28] mraible commented on #419
I haven't updated the i18n translations in a couple of years, since I created the project. You can see the available languages at https://github.com/oktadeveloper/ionic-jhipster-starter/tree/master/src/assets/i18n.

[2021-02-05 16:21] mraible opened #434 "Create app process fails with npm 7"
[code]

[2021-02-08 22:42] wurst44 opened #437 "Is it possible to pass ionicAppName & directoryPath?"
When I keep the .jhipster-ionic.json file not everything is beeing gernerated.

Is it possible to pass `ionicAppName` & `directoryPath` to `yo jhipster-ionic` or use the JDL as conf and/or to combine initial app and entity generation? I would like to automate it without user interaction.

thx, great project!!

[2021-03-05 14:43] kacper9800 commented on #434
Same problem, did you find any solutions yet?

[2021-03-05 18:26] mraible commented on #434
No, I have not. Since `ng-jhipster` is being removed from JHipster 7, it's probably best to copy the files into this project and remove the dependency.

[2021-03-08 18:22] wurst44 commented on #434
same problem, which files?

[2021-03-12 07:56] mraible commented on #434
I'm adding a bug bounty to this one because I don't want to make time to work on it right now.

[2021-03-13 22:45] mraible commented on #434
Please try adding a `.npmrc` in your project's root directory with the following contents.

[code]

[2021-03-15 01:14] mraible commented on #437
Hello @wurst44. It's possible to create an app with pre-configured defaults (`ionic4j` for the name and `backend` for the JHipster app path). This is used by [this project's CI](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/main/test-integration/scripts/01-generate-project.sh#L25):

[code]

The logic for this is [here](https://github.com/oktadeveloper/generator-jhipster-ionic/blob

[2021-03-15 11:32] wurst44 commented on #434
yes, I already used npm -i npm-install-peers and it works, thx

[2021-03-15 11:33] wurst44 commented on #437
yes, I was looking to automate it in CI and `default` works, thx

[2021-03-16 16:19] #434 closed

[2021-03-16 20:24] #388 closed

[2021-03-17 21:49] #437 closed

[2021-03-17 21:50] mraible opened #466 "Upgrade to JHipster 7"
I tried upgrading to `generator-jhipster@beta` but had issues. Some might be caused by the dependency on `jhipster-core` for the import JDL feature.

[2021-03-20 21:29] wurst44 opened #467 "Property 'id' does not exist on type 'FormGroup'."
hi @mraible, I am trying to push the generated jhipster to ionic to android, but it it throwing an error:

Error:
[code]

JDL:
[code]

and I am doing this:
[code]

to fix it I am currently doing this:
[code]

thxs for your effort

[2021-03-20 21:53] mraible commented on #467
Thanks for letting me know. I'll look into this next week. Let me know if you figure out a solution.

[2021-03-20 22:17] wurst44 opened #468 "Where to put the prod SERVER API URL"
hi @mraible I am not quite sure were to put the prod SERVER API URL.
I dont want to debug the APK, and the compiled assets throw cors error while debugging locally.
the hipster UI shows, but when trying to login it fails.
as soon as I click login admin:admin the APK should make the request to http://server.com:80/api but wireshark shows me that no request to the internet is beeing made.

My server

[2021-03-20 22:45] mraible commented on #468
Did you run the adb commands?

From the README:

You'll need to run a couple commands to allow the emulator to communicate with your API and Keycloak.

adb reverse tcp:8080 tcp:8080
adb reverse tcp:9080 tcp:9080

[2021-03-21 16:22] wurst44 commented on #468
I am in production, no forwarding, no adb, just APK to SERVER API.
my goal is to not even start android studio...
and I dont use SSO for now.

I got it: :dancers:
[code]

APK login and entities page WORK.
Same for iOS but I need a macOS runner with xcode ^^

setting ENVs and modifiying the URL inside here does NOT seem to work:
[code]

my question would be how to set the SERVER API URL correctly (

[2021-03-25 16:44] mraible commented on #468
You might be able to set `SERVER_API_URL` with environment variables if you change `environments` to have something like the following:

[code]

Yes, the account tab is empty. See https://github.com/oktadeveloper/generator-jhipster-ionic/issues/389 for more information.

[2021-03-25 16:46] mraible commented on #467
Are you using the latest release? [v6.1.1](https://github.com/oktadeveloper/generator-jhipster-ionic/releases/tag/v6.1.1)

[2021-03-30 18:02] tayfundogdas commented on #466
Hi,

When I use Jhipster 7 with generator-jhipster-ionic 6.1.1, it does not generate referenced entities correctly anymore with DTOs. For example Jhispter server side DTO is generated like below,

private UserDTO owner;

but mobile client corresponding model is like;

public ownerLogin?: string,
public ownerId?: number,

so basically all reference entities failed to save. Do you have plan to fix t

[2021-03-30 18:51] mraible commented on #466
@tayfundogdas I'm waiting for the JHipster module generator to be updated for v7. https://github.com/jhipster/generator-jhipster/issues/14327

[2021-03-30 19:41] tayfundogdas commented on #466
@mraible Thank you for your response, maybe outside to topic but do you have also plan for ionic-react support in future?

[2021-03-30 19:47] mraible commented on #466
@tayfundogdas No, I have no plans to support React at this time.

[2021-04-05 22:00] wurst44 commented on #468
setting env `SERVER_API_URL` seems not to work. And I tried setting enviroment.ts before, gave up...

well, also my above change does not work anymore...

I need to set the URL in `capacitor.config.json` only:
[code]
also there seems to be some major change, so that the hipster ui seems to be fully integrated now?
(which seems great!)
all breaking changes, I tag my base-build-images now ^^
do you

[2021-04-05 22:24] mraible commented on #468
Releases page is at https://github.com/oktadeveloper/generator-jhipster-ionic/releases.

[2021-04-05 22:27] mraible commented on #468
I'm not sure what you mean. I haven't made any drastic changes recently.

[2021-04-07 22:46] wurst44 commented on #468
sry, because of dependency issues with jhipster 7 I was switching back and forth between 6.10.5 / 6.10.3 / 7 and
I think I have the same issue as this guy: "This generator (generator-jhipster-ionic) requires yeoman-environment at least 3.0.0, current version is 2.10.3,"
https://github.com/merlinofcha0s/generator-jhipster-flutter/issues/51

I think some JH version doese'nt respect JDL config `skip

[2021-04-07 22:54] mraible commented on #468
The Flutter module is a bit different from this one. That module requires you to create it [inside your JHipster project](https://github.com/merlinofcha0s/generator-jhipster-flutter/issues/50#issuecomment-805539122).

This module, and the React Native blueprint, expect you to generate your app at the same level as JHipster. For example:

[code]

I documented this [in the README](https://github.com

[2021-04-22 07:47] issabm opened #481 "Issues"
Hello,
im trying to use generator-jhipster-ionic@6.1.1 with my current config bellow, but its shows me this error.

![image](https://user-images.githubusercontent.com/34540650/115676230-49bc1300-a347-11eb-830e-b94691a2bc40.png)

Can you help me ?
thank you .

[2021-04-22 13:43] mraible commented on #481
This project does not have support for JHipster 7 yet. See https://github.com/oktadeveloper/generator-jhipster-ionic/issues/466.

[2021-04-22 13:43] #481 closed

[2021-04-26 15:10] mraible commented on #467
Closing due to lack of response. Please reopen if you're still having issues.

[2021-04-26 15:11] #468 closed

[2021-04-26 15:11] mraible commented on #419
Closing due to lack of response.

[2021-04-26 15:11] #419 closed

[2021-04-26 15:11] mraible commented on #141
Closing due to lack of response.

[2021-04-26 15:11] #141 closed

[2021-04-26 15:12] mraible commented on #389
Closing due to lack of response.

[2021-04-26 15:12] #389 closed

[2021-04-27 07:24] wurst44 commented on #467
sry, was busy, yes:

[code]

[2021-04-27 14:37] mraible commented on #467
Hmmm, I can't even get past `yo jhipster-ionic default` after upgrading Yeoman.

[code]

[2021-04-27 14:47] mraible commented on #467
@mshima It seems that [`this.conflicter.force = true`](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/main/generators/app/index.js#L208) doesn't work after upgrade to Yeoman 3 or 4. Is there a new way to do it?

[2021-04-27 14:56] mshima commented on #467
@mraible conflicter is an environment feature at yo@4.
- `this..env.conflicter.force = true`

Or load conflicter into generator at constructor
- `this.conflicter = this.conflicter || this.env.conflicter;`

[2021-04-27 15:06] wurst44 commented on #467
that's why I am using version pinnig through docker build images in gitlab.
this node version compatabiltiy thing was very traumatic :)

here are my versions, I am not sure why I used `force`, it seems to work without it:

[code]

[2021-04-27 15:18] wurst44 commented on #468
Dono what went wrong but setting `src/environments/environment.ts` seems to work now

[2021-04-27 16:52] mraible commented on #467
I tried upgrading to [Yeoman 4](https://github.com/oktadeveloper/generator-jhipster-ionic/pull/488) and now I get a different error when I try to run `import-jdl`:

[code]

I'm not sure how to solve this. It seems to happen with both JHipster 6 and JHipster 7 as the backend.

[2021-05-08 20:29] tayfundogdas commented on #467
It is about angular version mismatch, newer angular versions more strict, also generated required validators are not valid anymore with newer angular versions such as,

<div [hidden]="!(form.controls.?.dirty && form.controls.?.invalid)">
    <small [hidden]="!form.controls.?.errors?.required">
      This field is required.
    </small>
  </div>

is invalid.

You could update angular version like i

[2021-05-08 20:34] tayfundogdas commented on #130
I created https://virtuallyhelper.com and https://real-estate.virtuallyhelper.com with ionic-jhipster with PWA enabled,
f you want please test sites by looking network tab of developer tools, prefetching is great! I strongly recommend angular version update as in here,

https://ionicframework.com/blog/massive-updates-with-version-11-of-angular/

[2021-05-10 21:53] wurst44 commented on #467
not sure if I you @mraible have the same problem, but I noticed this realy annoying behaviour with **IonSelect** (multi):
with asyncronous API requests the multiselect options are not preselcted. sometimes it works sometimes not:
the compare function is giving me correct "true" matches and the underlying select ui shows also the correct value list, but in the popup the nothing is checked.

it't st

[2021-05-11 09:17] tayfundogdas commented on #467
@mraible it is required for my case , I need to benefit PWA prefetching as I mentioned and they are working just fine(nothing broken because of that). @wurst44 IonSelect not preselected is still related about jhipster 7 to generator-jhipster-ionic 6.1.1 version mismatch. You could manually edit generated code(I did in that way). I asked couple of times to @mraible if the project is dead since jhip

[2021-05-11 17:08] wurst44 commented on #467
@tayfundogdas, thx for the info, what did you u do to fix multiselect preselection in code?

[2021-05-20 21:34] #466 closed

[2021-05-21 14:40] mraible opened #499 "ionic4j CLI doesn't work"
`ionic4j` works when you do `npm link`, but not when you install from npmjs.com.

You can see the file at https://github.com/oktadev/generator-jhipster-ionic/blob/main/cli/ionic4j.js

@sendilkumarn Maybe I should just try to copy [yours from KHipster](https://github.com/jhipster/jhipster-kotlin/blob/main/cli/khipster.js)?

[2021-06-08 20:49] eter98 opened #511 "no return on ionic app after logging into mobile device"
I am developing an application in Ionic generated from a backend with jhipster integrated with keycloack security (controlled application).

When I compile the developed application in the web emulator (port 8100) it works correctly, ( after authorizing the login in keycloak, it redirects to the developed application), but when I perform the same exercise on a mobile device does not work the retur

[2021-06-09 14:07] eter98 commented on #511
Yes, I have only tried on real device for both Android and IOs, I don't get the return to the application after login. you should try it on a real device.

In the authentication application (Keycloack) if you get it, it creates the session.

I'm thinking it's about deep routes, ¿I don't know if you know about this?

[2021-06-09 14:18] mraible commented on #511
Did you change your Ionic app to use the IP address of your Keycloak server? For Android, I assume you're still using HTTP instead of HTTPS? If so, you need to set the following in your AndroidManifest.xml:

android:usesCleartextTraffic="true"

[2021-06-09 19:20] eter98 commented on #511
Yes, I have used the statement in the manifest to control the traffic and I still do not have the return to the app, the android studio console does not show any error or change, on the other hand I have been able to capture this alert "Unable to perform navigation: dev. localhost.ionic:/callback?state=yMbRE0SHCz&session_state=80dd540db-9647-4ebb-82a8-feaa2c38058b&code=9fdwa053134-dc65-46d1-a6de-d

[2021-06-09 19:50] mraible commented on #511
It looks like you have a space in `dev.localhost.ionic`. Can you confirm that `android/app/src/main/res/values/strings.xml` has the following:

[code]

I tried to reproduce this issue with my iPhone 12. Unfortunately, I don't have an Android device. I'm unable to access Keycloak on `<hostname>:9080` or `<my-IP-address>:9080`, so I'm unable to log in on my phone. Did you have to modify Keycloak at

[2021-06-09 20:10] mraible commented on #511
I was able to figure out how to access Keycloak remotely. I had to remove the `127.0.0.1:` prefix in `keycloak.yml`:

[code]

I'm now able to log in to Keycloak from my phone. It does redirect back successfully but doesn't show me logged in. If I revert to using iOS Simulator and running on localhost (instead of using an IP), it works.

[2021-06-09 20:12] eter98 commented on #511
I tried to reproduce this issue with my iPhone 12. Unfortunately, I don't have an Android device. I'm unable to access Keycloak on `<hostname>:9080` or `<my-IP-address>:9080`, so I'm unable to log in on my phone. Did you have to modify Keycloak at all to allow outside access?

I have the keycloack in production I have it with heroku, but you can create a Docker and enter the keycloack application

[2021-06-09 20:21] mraible commented on #511
Since I was unable to get it to work with Keycloak and a local IP, I tried with Okta. It works there. So I believe this is a problem with Keycloak. Unfortunately, I'm not sure how to fix it.

https://user-images.githubusercontent.com/17892/121423853-f0776580-c92d-11eb-9c04-1622a2baf4a0.mp4

[2021-06-10 13:15] orakso commented on #511
I have same issue. Everything works with ionic serve, but when I deploy to device problem occurs. It seems, like Keycloak is ok, but there is problem with deep link implementation here:
    App.addListener('appUrlOpen', (data: any) => {
      if (data.url !== undefined) {
        ngZone.run(() => {
          authService.authorizationCallback(data.url);
        });
      }
    });

so that app is n

[2021-06-10 13:54] mraible commented on #511
The code is the same as it is for Keycloak, I just followed the Okta instructions.

https://github.com/oktadev/generator-jhipster-ionic#use-okta-for-authentication

The only code changes are the client ID for the Okta native app.

[2021-06-10 15:40] orakso commented on #511
I've just tested https://github.com/wi3land/ionic-appauth-ng-demo from https://www.npmjs.com/package/ionic-appauth and it is working just fine. So I'm guessing, that the problem is with ionic-appauth integration in generator-jhipster-ionic

[2021-06-10 19:40] mraible commented on #511
That's certainly possible. This project leverages [OktaDev Schematics](https://github.com/oktadev/schematics), which mirrors the code from ionic-appauth-ng-demo in its [templates](https://github.com/oktadev/schematics/tree/main/src/add-auth/ionic/angular/src).

[2021-06-10 23:32] orakso commented on #511
Changing redirect url to appauth://callback and appauth://endsession and changing this:

`App.addListener('appUrlOpen', (data: any) => {
      if (data.url !== undefined) {
        ngZone.run(() => {
          authService.authorizationCallback(data.url);
        });
      }
    });`

to

`(window as any).handleOpenURL = (callbackUrl) => {
      ngZone.run(() => {
          if ((callbackUrl).indexO

[2021-06-11 13:48] eter98 commented on #511
I could make the return to the application, the question was the versions of the capacitor and also implemented in the backend Jhipster CORS of localhost, now I have another challenge, it enters until home but when trying to deploy any path of the entities or any component generates this error in android.

 http://localhost/vendor.js - Line 64468 - Msg: ERROR Error: Uncaught (in promise): Error: C

[2021-07-01 17:27] eter98 opened #522 "No Return IOS, Key"

[2021-07-01 17:27] #522 closed

[2021-07-01 17:30] eter98 opened #523 "No return, IOs"
I have a problem, on IOs my app does not return correctly after authentication and only shows the following message;

![WhatsApp Image 2021-07-01 at 12 18 04 PM](https://user-images.githubusercontent.com/43758443/124165992-09c08d00-da68-11eb-8071-bf6b0baefb0e.jpeg)

on Android and web it does everything normally.

[2021-07-01 17:32] mraible commented on #523
I'm on vacation for the month of July, so can't help you with this right now. You might try asking this question on our forums (https://devforum.okta.com) or Stack Overflow.

[2021-07-07 16:03] eter98 commented on #523
I investigated, the results were not very favorable, I still do not understand how the return to the application works, Safari has some block for the return?

[2021-07-07 18:43] mraible commented on #523
Please see [the iOS instructions](https://github.com/oktadev/generator-jhipster-ionic#ios) in the README.

[2021-08-04 18:52] mraible commented on #523
Sorry, I meant the [Android instructions](https://github.com/oktadev/generator-jhipster-ionic#android). I'm closing this as these should solve your issue. If they do not, please reopen and provide a link to your project on GitHub.

[2021-08-04 18:52] #523 closed

[2021-08-05 21:01] mraible commented on #511
You might try the current `main` branch since I just upgraded it to use a newer version of Ionic AppAuth.

Steps:

[code]

Then, create a new app and test it out.

[code]

If you want to import JDL or generate entities, you'll also need to run this in your project after it's created:

[code]

[2021-08-05 21:02] mraible commented on #467
Closing since this seems to be fixed. FWIW, the latest version of this module supports JHipster 7.

[2021-08-05 21:02] #467 closed

[2021-08-05 21:02] #93 closed

[2021-08-05 21:02] mraible commented on #93
Seems to be fixed now.

[2021-08-09 23:02] jhcao23 commented on #511
Hi @mraible what if I wanna use a local customized version of `generator-jhipster`?

[2021-08-09 23:04] mraible commented on #511
I'm not sure this will work, but you could try installing it into `generator-jhipster-ionic` and removing the `generator-jhipster` dependency.

[2021-09-11 16:24] alexander090496 opened #557 "Failed to get okta-ionic token"
I am from an Ionic app, the direction process to Okta works normal, I proceed to login and it does it normally, the redirection to the mobile app is done but I have the following problem: POST https: // DOMAIN / oauth2 / v1 / token 401
![erroeokta](https://user-images.githubusercontent.com/30643372/132954544-772a2484-26e4-4229-a7b9-911d3908c09f.PNG)

core.js:6210 ERROR Error: Uncaught (in promise)

[2021-09-11 17:26] mraible commented on #557
You have to use a custom authorization server for this to work, you can't use your org authorization server. There should be one called "default" that's created for you in your developer account. [These docs](https://developer.okta.com/docs/concepts/auth-servers/) explain the difference between types of authorization servers. Please reopen this issue if it doesn't solve your problem.

[2021-09-11 17:26] #557 closed

[2021-09-23 18:48] SBKMIT opened #564 "Unable to create Front end entity in ionic project"
**Below error show.**

E:\projects\SVN-PROJECTS\Coding\trunk\release1\KUBS-v1.0\kubs-client>yo jhipster-ionic:entity FileFormateConfig
WARNING! Priority composing is missing for generator jhipster-ionic:entity. Merging into default priority.
WARNING! Priority loading is missing for generator jhipster-ionic:entity. Merging into default priority.
WARNING! Priority preparing is missing for generator

[2021-09-23 19:19] mraible commented on #564
Are you generating `kubs-client` inside your JHipster project? It should be on the same level, not inside it.

https://github.com/oktadev/generator-jhipster-ionic#usage

[2021-09-23 19:31] SBKMIT commented on #564
Actually we are doing project by microservice in Architecture.
There is one mdm service where i am able to create entity in service.
My Ionic Client project and microservice are different projects.
I have given path of mdm service in yo-rc.json file of mdm service which refer json present in .jhipster folder.

Client yo-rs.json path is.

{
  "generator-jhipster": {
    "promptValues": {
      "bac

[2021-09-23 19:34] mraible commented on #564
Is `kubs-service-mdm` a microservice project or gateway project? I'm pretty sure you need to point to a monolith or a gateway. I haven't tested against a microservice.

[2021-09-23 19:36] SBKMIT commented on #564
it is microservice.
Previously it was working but now it shows above error.

[2021-09-23 19:37] mraible commented on #564
Can you run `jhipster info` in your microservice project and post the output here.

[2021-09-23 19:38] SBKMIT commented on #564
we have created so many masters and transaction screens in project.
but now showing this error

[2021-09-23 19:40] mraible commented on #564
I'm not sure how to fix this since there's no actionable information in the error message. I need to be able to re-create the problem in order to fix it. If you can create a GitHub repo or scale down your project to reproduce things, that would be great.

[2021-09-23 19:41] SBKMIT commented on #564
Microsoft Windows [Version 10.0.18363.1556]
(c) 2019 Microsoft Corporation. All rights reserved.

E:\projects\SVN-PROJECTS\Coding\trunk\release1\KUBS-v1.0\kubs-service-mdm>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
(node:18472) Warning: Accessing non-existent property 'cat' of module exp

[2021-09-23 19:51] SBKMIT commented on #564
Let me know if any other information needed.

[2021-09-23 19:51] mraible commented on #564
I just tried creating an `mdm` project using your `.yo-rc.json` with the latest released version of JHipster. Then, I installed the latest release of this module. When I run `yo jhipster-ionic` and point to the `mdm` project, it fails because it's a microservice.

[code]

<img width="1442" alt="Screen Shot 2021-09-23 at 1 49 27 PM" src="https://user-images.githubusercontent.com/17892/134574467-3d8

[2021-09-23 20:04] SBKMIT commented on #564
How to create entity in ionic app based on microservice entity?
If ionic app and micro services architecture?

[2021-09-23 20:10] mraible commented on #564
You should generate the entity on your gateway using `jhipster entity`. It'll prompt you to pull it from your microservice app. Then, point the Ionic app at your gateway.

[2021-11-07 06:32] #564 closed

[2021-11-07 06:35] mraible opened #579 "e2e tests don't compile when including an image"
Steps to reproduce are in [this demo script](https://github.com/mraible/mobile-jhipster/blob/main/demo.adoc).

`photo.e2e-spec.ts` doesn’t compile - because an `image` variable is not found. Adding a `const` to the top to fixes it.

[code]

Next issue is in `photo.po.ts`. “image” field not found, setting to “fileInput” in doesn’t work

[2021-11-07 06:47] mraible opened #580 "Android uses `http://localhost/callback` for redirect URI"
`platform.is("mobile")` doesn't seem to work on Android emulators anymore. Tried `platform.is("capacitor")` and that seems to work better.

[2021-11-10 17:32] mraible commented on #511
Closing due to lack of response.

[2021-11-10 17:32] #511 closed

[2021-11-10 17:34] mraible opened #581 "Logout doesn't work on iOS"
After clicking Logout, you're redirected back to the same page and the Logout link still shows. If you navigate anywhere else, it'll prompt you to log in. This seems to indicate that logout is working, but the UI doesn't properly show it.

[2021-11-16 21:14] jhcao23 commented on #511
sorry I forgot to comment back... after a while, jhipster has been upgraded to new version, then it's working as expected! Thank you all!

[2022-01-13 00:14] mraible opened #604 "Convert this module to a blueprint"
If this module is converted to a blueprint, the Ionic CLI might not be needed anymore. It's kinda handy because it has starter templates that you can use to override the default behavior. For example, this module uses https://github.com/oktadev/ionic-jhipster-starter in https://github.com/jhipster/generator-jhipster-ionic/blob/main/generators/app/index.js#L152.

This setup is kind of a pain to mai

[2022-01-13 02:20] mshima commented on #604
I will take a look and it will be the showcase for the new blueprint generator.

[2022-01-13 19:09] mraible opened #607 "CI failing: Cannot read properties of undefined (reading 'name')"
Not sure why the [upgrade to Node 16 and JHipster 7.5](https://github.com/jhipster/generator-jhipster-ionic/pull/605) is failing. Here's the error:

[code]

Creating this issue to attach a bug bounty and get some help.

[2022-01-15 15:41] mraible commented on #607
@mshima Do you know what might be causing import JDL to fail? I tried to debug to get some additional information, but was unable to.

[2022-01-15 16:17] mshima commented on #607
I will take a look.

[2022-01-19 20:44] mshima commented on #607
@mraible https://github.com/yeoman/environment/commit/66752e4b07a6da5eb93b9ae53ad66aacd025c2a8 should fix this problem.
Just updating yeoman-environment should fix this issue.

[2022-01-19 21:04] mraible commented on #607
@mshima It looks like your PR already has the update for `yeoman-environment` v3.9.1. https://github.com/jhipster/generator-jhipster-ionic/pull/611/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R47

Is there something else that needs to be done?

[2022-01-19 21:24] mshima commented on #607
No, my PR drops yo.
If you prefer to keep it, updating the environment should be enough.

[2022-01-19 21:27] mraible commented on #607
I think that's OK. This doesn't change the need to run `yo ionic-jhipster` does it? The `ionic4j` CLI I created as part of this project [doesn't work](https://github.com/jhipster/generator-jhipster-ionic/issues/499).

[2022-01-19 21:36] mshima commented on #607
Actually I didn’t try yo, but should work. I prefer to drop yo support.
Yo can be slow and I think yo-doctor unnecessary and problematic.
That’s why I reimplemented the cli and dropped yo from the documentation.

Blueprint reimplementation is almost done.
Have you managed to make protractor succeed with angular 13?

[2022-01-19 21:52] mraible commented on #607
I haven't tried protractor with Angular 13. I don't know until https://github.com/ionic-team/starters/pull/1716 is merged. If it doesn't work, I can reimplement e2e tests with Cypress.

[2022-03-11 06:48] #607 closed

[2022-03-11 06:49] mraible commented on #130
@MInesGomes You can keep maintaining your branch in this repo, but I'm closing this PR. Please let me know if you'd like to reopen it.

[2022-03-11 06:49] #130 closed

[2022-04-04 06:22] mraible opened #639 "Convert Protractor tests to Cypress"
Depends on #604.

[2022-04-04 18:13] mshima commented on #499
@mraible is this still relevant with blueprint migration?
If it is, you can use https://github.com/mshima/generator-jhipster-ionic/blob/5c3b7dbaced4c5c43ce3ee5efdeb514cc58b6b7a/cli/ionic4j.js from https://github.com/jhipster/generator-jhipster-ionic/pull/611.

[2022-04-04 18:16] mraible commented on #499
No, I don't think it's relevant anymore. Please take the bounty as the blueprint solution works better.

[2022-04-05 07:43] zhyd1997 commented on #639
@mraible

I will work on it if possible 🙏

[2022-04-05 17:58] #604 closed

[2022-04-05 18:25] zhyd1997 commented on #581
Could the issue be closed because code change has been merged in commit f27a1fc

[2022-04-05 19:02] #581 closed

[2022-04-05 19:11] mraible commented on #581
Don't forget to claim the bounty @zhyd1997!

[2022-04-05 19:45] mraible commented on #499
@mshima Once you've claimed the bounty, we can close this issue.

[2022-04-05 23:18] zhyd1997 commented on #581
@mraible okay I will

[2022-04-06 01:17] zhyd1997 commented on #639
Hi @mraible

Why I got these errors:

<img width="1083" alt="module not found" src="https://user-images.githubusercontent.com/31362988/161876350-845253b4-e103-481b-b838-c5b567507edb.png">

Did I forget to run some commands to generate these 2 files?

[2022-04-06 01:58] mraible commented on #639
These are templates. They're not meant to compile until they're in the generated app. Maybe we should rename them to have a `.ts.ejs` extension like JHipster uses?

[2022-04-06 02:00] zhyd1997 commented on #639
I got these errors when running `npm run e2e`.

[2022-04-06 02:08] mraible commented on #639
The paths in your IDE show that you're still in the blueprint. You need to generate an app first, then run e2e tests. See the README in this project for usage instructions. You probably need to run `npm link` to install the blueprint since it's not published to npm yet.

[2022-04-06 02:09] zhyd1997 commented on #639
@mraible Thanks a lot!

[2022-04-06 05:00] pascalgrimaud commented on #581
@zhyd1997 : you need to comment this ticket with the open collective link, so we can be sure it's the same person who submitted the expense

[2022-04-06 08:37] zhyd1997 commented on #581
@pascalgrimaud Thank you

I have already claimed here: https://github.com/jhipster/generator-jhipster-ionic/pull/636#issuecomment-1089150714

Again, $300 bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/70880

Is this way correct?

[2022-04-06 08:39] pascalgrimaud commented on #581
Thanks @zhyd1997 : approved :)

[2022-04-06 16:14] mshima commented on #639
I kept the original extension because:
- you know there isn’t any customization
- syntax highlight
- easier to integrate changes.

I think once we get used, it’s much easier.

[2022-04-06 19:23] mraible commented on #639
I agree, @mshima.

[2022-04-06 21:39] zhyd1997 commented on #639
Okay, I will not change the files extension

[2022-04-07 13:25] mraible commented on #639
@zhyd1997 I drafted a [blog post](https://github.com/oktadev/okta-blog/pull/1031) about this new blueprint for the Okta developer blog. My goal is to publish it before the end of April.

I'd love to include Cypress instead of Protractor so please let me know if there's anything I can do to help. In particular, it'd be nice to fix [this issue](https://github.com/jhipster/generator-jhipster-ionic/is

[2022-04-07 13:46] zhyd1997 commented on #639
@mraible No problem

[2022-04-11 08:27] zhyd1997 commented on #639
Today I got my new machine and when I ran Cypress, I got this error:

<img width="705" alt="Cypress M1 incompatible error" src="https://user-images.githubusercontent.com/31362988/162695615-74d66add-13e3-4100-b6f2-89591d2d16af.png">

That means **M1 is incompatible with Cypress!**

How to fix it: [Running Cypress on the Apple M1 ARM Architecture using Rosetta 2](https://www.cypress.io/blog/2021/01/

[2022-04-13 13:40] zhyd1997 commented on #579
Run failed (e2e):

<img width="1121" alt="Protractor e2e failed" src="https://user-images.githubusercontent.com/31362988/163193297-113a9399-8790-4a1c-9168-3f2757c4d929.png">

figuring out...

[2022-04-13 14:42] zhyd1997 commented on #579
Yes, this is solving mobile-jhipster problem.

[2022-04-27 20:23] mraible commented on #639
I ran some Cypress tests on my M1 recently and noticed they were really slow compared to my Intel. I hope this gets solved soon.

[2022-04-27 20:31] mshima commented on #639
Cypress migration is proceeding at cypress branch.
https://github.com/jhipster/generator-jhipster-ionic/tree/cypress.
Missing the oauth2 login and some field types.

oauth2 is implemented using new origin api, but is broken due to cypress bugs.
I will try to use api. But it’s quite different from jhipster client implementation.

[2022-04-28 01:17] mraible commented on #639
We could always simplify things and just turn off Chrome Web Security. That's what I did to show [how to authenticate with Cypress in my Angular Mini-Book](https://github.com/mraible/angular-book/blob/main/src/docs/asciidoc/chapters/chapter1.adoc#add-authentication-to-cypress-tests). Search for "Add Authentication to Cypress tests".

[2022-04-28 02:02] zhyd1997 commented on #639
@mraible
Yes, I see @mshima did this work on `cypress.json` and turn on `session` option instead.

[2022-04-28 02:57] mshima commented on #639
Unfortunately it's not so simple. It's a known cypress limitation. Not sure if chrome web security changes anything.
They just released version 9.6.0 with `origin` support that should workaround this issue, as you can see at the blog post:
https://cypress.io/blog/2022/04/25/cypress-9-6-0-easily-test-multi-domain-workflows-with-cy-origin/

This is how I've implemented:
https://github.com/jhipster/g

[2022-04-28 03:07] mshima commented on #639
This is how it's implemented at jhipster:
https://github.com/jhipster/generator-jhipster/blob/main/generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs

svelte blueprint:
https://github.com/jhipster/generator-jhipster-svelte/blob/4c170336ac165128c8e31235040b3bf7d6192363/generators/client/templates/svelte/cypress/support/commands.js.ejs#L156-L224

Both uses login using api

[2022-04-28 03:14] mraible commented on #639
You should be able to lookup the `/authorize` endpoint from issuer + /.well-known/openid-configuration and then build the URL with parameters ourselves. https://developer.okta.com/docs/guides/implement-grant-type/authcode/main/

[2022-04-28 18:10] mshima commented on #639
Oauth2 login via api implemented, tested with keycloak only.
Still missing to check some fieldTypes like files and date.
IMO it’s good enough for a review.

[2022-04-29 17:19] #639 closed

[2022-04-29 17:32] mshima opened #655 "Check husky support."
Reference: https://github.com/jhipster/generator-jhipster-ionic/pull/653#issuecomment-1113494395

[2022-04-29 17:33] mshima opened #656 "Fix Auth0/Okta support"
References:
https://github.com/jhipster/generator-jhipster-ionic/pull/653#issuecomment-1113536194
https://github.com/jhipster/generator-jhipster-ionic/pull/653#discussion_r861419258
https://github.com/jhipster/generator-jhipster-ionic/pull/653#discussion_r861420097

Implementations:
[generator-jhipster](https://github.com/jhipster/generator-jhipster/blob/main/generators/cypress/templates/src/test/

[2022-04-29 18:14] mraible commented on #656
I tried changing `oauth2.ts` to use its own origin so a `/callback` handler doesn't need to be registered.

[code]

This gets me a bit further, but it fails to get the location from the headers. I tried printing them and there is no `location` header.

<img width="543" alt="Screen Shot 2022-04-29 at 12 13 00" src="https://user-images.githubusercontent.com/17892/166000222-420fcdd5-3edd-4359-ba4c-e4

[2022-04-29 19:25] mshima commented on #656
@mraible I am wondering if we should create a package `cypress-oauth2` to reuse some operations.

[2022-04-29 19:30] mraible commented on #656
That's not a bad idea. We could also read the `.auth0.env` from the backend app and make requests with the client secret like this example shows. https://auth0.com/blog/amp/end-to-end-testing-with-cypress-and-auth0/

[2022-04-29 19:48] mshima commented on #656
From your screenshot:
[code]

The code should be extracted from the redirects.

[2022-04-29 20:13] mraible commented on #656
That worked!

[code]

I'll create a PR. We might want to make it so the client ID is always looked up from `environment.ts` and not the backend. That way, you only have to change it in one location.

[2022-04-29 22:31] mraible commented on #656
I've determined that Okta is quite a bit more difficult. Since the token endpoint requires PKCE, you have to send a `code_challenge`, `code_challenge_method`, and `state` parameter to the `/authorize` endpoint. Then, when you call the token endpoint, you have to send a `code_verifier` parameter.

You can see an overview of PKCE and how it works in https://developer.okta.com/blog/2019/08/22/okta-au

[2022-04-30 02:21] mshima opened #659 "Drop karma dependencies."
Tests are implemented with jest.
Karma can be dropped.

[2022-04-30 04:26] mraible commented on #656
Reopening since Okta isn't working yet.

[2022-04-30 04:35] mshima commented on #656
@mraible you may want to test the login using cy.origin.
Uncomment, change change the origin first parameter with the comment above.
https://github.com/jhipster/generator-jhipster-ionic/blob/8f8597e747b095d8796d573b752b8069c2dbd849/generators/ionic/resources/oauth2/cypress/support/commands.ts#L29-L46

[2022-04-30 05:09] mraible commented on #656
@mshima I tried using this and it doesn't work. It gets to the Okta login form and fails to fill in the fields. I tried changing the field names to match the Okta form, but it doesn't help.

[code]

[2022-04-30 05:10] mraible commented on #579
Solved by #639.

[2022-04-30 05:11] #579 closed

[2022-04-30 16:00] mraible commented on #656
I wonder if we could use AppAuth JS to do the OAuth dance for us? Here's an example that works in Electron.

https://github.com/oktadev/okta-appauth-js-electron-example/blob/master/flow.ts

[2022-04-30 16:19] mshima commented on #656
I took a look at it first.
But I decided to ignore status/challenge and see if it worked.

IMO we should wait for some days if there are some movement to fix the cypress origin.
It should be better because it tests the application login for real.
We can have the login using cypress working and the application login broken.

[2022-04-30 16:38] mraible commented on #656
I tried the following, but it just hangs when waiting for `okta` to appear in the URL.

[code]

The URL doesn't change in the Cypress browser window.
<img width="590" alt="Screen Shot 2022-04-30 at 10 37 28" src="https://user-images.githubusercontent.com/17892/166114392-ec08c746-1906-4d2a-b9ad-2c3088f02a53.png">

[2022-04-30 16:40] mshima commented on #656
Try hardcoding the Okta url like:
https://github.com/mshima/cypress-origin/blob/20843888c1098e6074169c96513f6c045ec2ad2b/ionic4j/cypress/support/commands.ts#L41-L51

[2022-04-30 16:42] mshima commented on #656
By the way, I've created that project as a repro for https://github.com/cypress-io/cypress/issues/21201#issuecomment-1112846497.

[2022-04-30 16:46] mraible commented on #656
YAHOO - that worked!

[code]

[2022-04-30 16:50] mshima commented on #656
Great, the bug is with Keycloak them.
I was starting to setup my application for Okta.

[2022-04-30 16:51] mshima commented on #656
So we need to get the url from auth-info and then try to use it at the `cy.origin()`.

[2022-04-30 16:58] mshima commented on #656
Something like:
[code]

[2022-04-30 18:10] mraible commented on #656
This works for Keycloak, Okta, and Auth0!

[code]

[2022-04-30 18:17] mraible commented on #656
PR to incorporate these changes: https://github.com/jhipster/generator-jhipster-ionic/pull/660

[2022-04-30 21:51] #656 closed

[2022-05-01 14:35] mraible opened #661 "Change `e2e` command to be the same as the main generator"
In the main generator, when you run `npm run e2e`, a browser is visible on the screen and tests are automatically run. Here are the commands that are run:

[code]

[2022-05-02 15:36] mraible opened #664 "How is the name value used?"
When I create a new Ionic project, I'm prompted for the backend app's location and a project name. However, the project name doesn't seem to be used. At the very least, I'd expect it to be set as the name in `package.json`. Currently, that seems to be hardcoded to `ionic4j`.

[2022-05-02 20:25] #659 closed

[2022-05-02 22:02] mshima commented on #661
I’ve tried setting: `headless: false, watch: false', but didn’t work.
I think it’s a bug at cypress-schematic.

[2022-05-02 22:05] mshima commented on #661
Switching await from ng-cli would require to use `concurrently` to run serve and cypress together.
IMO we should stick with ng-cli

[2022-05-02 22:10] mraible commented on #661
I used the Cypress Schematic in my Angular mini-book. I ended up using `concurrently` too.

https://github.com/mraible/angular-book/blob/main/src/code/ng-demo-auth0/package.json#L11:L13

The current behavior is "good enough" if we can't change it.

[2022-05-03 13:07] #661 closed

[2022-05-03 13:54] #499 closed

[2022-05-03 14:02] mshima commented on #499
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/75227

[2022-05-03 14:07] mshima commented on #656
The Keycloak issue was confirmed on cypress side.
`cy.origin()` only works on https or `localhost` for now.
It's easy to run Keycloak on https?

Should be followed at https://github.com/cypress-io/cypress/issues/20685.

[2022-05-03 14:41] mshima commented on #655
Husky needs to be installed at root of a monorepository.

[2022-05-03 14:47] mraible opened #670 "Release JHipster Ionic blueprint"
I'm creating an issue for this so we can track it and I can assign a bug bounty to it.

Things to do before the release:

- [x] Decide if the next release should be v7.5 or v8. It _probably_ be version 8 since it's a new architecture, but it'd be a shame to be one version ahead of JHipster.
- [x] @mraible to test with instructions in draft blog post
- [x] Create draft of release notes
- [x] Publis

[2022-05-03 15:33] mraible opened #671 "`ionic serve` should be `npx ionic serve`"
The instructions printed say:

[code]

We should change `ionic serve` to `npx ionic serve` so installing the Ionic CLI is not required.

When you run this command, it prompts you to install the Ionic CLI and then fails.

[code]

Installing these missing packages makes things work:

[code]

This modifies `package.json` and doesn't seem to install the first package.

[code]

[2022-05-03 16:32] mraible commented on #664
@mshima If we change the default value [here](https://github.com/jhipster/generator-jhipster-ionic/blob/main/generators/ionic/generator.mjs#L210) to use `this.localJHipsterConfig.baseName`, will it mess up the CI tests?

[2022-05-03 16:34] pascalgrimaud commented on #499
@mshima : approved

[2022-05-03 16:35] pascalgrimaud commented on #639
@mshima : approved

[2022-05-03 16:35] pascalgrimaud commented on #604
@mshima : approved

[2022-05-03 17:35] mshima commented on #664
I don't think so.
Since baseName is probably used by normal client frameworks, we probably should set it to `baseName + '-ionic'`.

[2022-05-03 17:36] mshima commented on #664
Maybe change the ionic folder to `baseName + '-ionic'` too.

[2022-05-03 19:20] #671 closed

[2022-05-03 19:37] mraible commented on #664
I'm only concerned with the name in `package.json` for now. It seems to be hardcoded to `ionic4j` and that's the only instance of this value I can find in the project. Without this change, this question seems weird:

[code]

The value that I enter (e.g. `flickr2`) only seems to be used in `.yo-rc.json`:

[code]

[2022-05-04 02:41] mraible commented on #656
We could recommend ngrok or other solutions for https with Keycloak.

https://developer.okta.com/blog/2022/01/31/local-https-java

[2022-05-04 19:07] #580 closed

[2022-05-04 21:37] mshima commented on #655
Not sure if this is a issue.
The reported problem happened because 2 projects were joined into 1 monorepository.
In that case, `--skip-commit-hooks` should be used.

[2022-05-04 21:49] mraible commented on #655
Yeah, I'm not sure we should fix it. It would be cool if you could do the following steps w/o an error:

[code]

I tried changing the last line to:

[code]

The result is:

[code]

[2022-05-04 22:13] mraible commented on #664
Reopening because it looks like my change in #676 doesn't make it so the project name is used in `package.json`. Instead, it seems to be the one from [this line](https://github.com/jhipster/generator-jhipster-ionic/blob/main/generators/ionic/generator.mjs#L112):

The result if I use `flickr2` as my app name:

[code]

[2022-05-05 21:26] mshima commented on #664
There are a few places that uses the baseName, and may need adjusts.
baseName is configured as camelCase at main jhipster.

https://github.com/jhipster/generator-jhipster-ionic/blob/b35f1a6f409f3a1e4a883864f34bafd9f9e490af/generators/ionic/templates/ionic.config.json.ejs#L2
https://github.com/jhipster/generator-jhipster-ionic/blob/b35f1a6f409f3a1e4a883864f34bafd9f9e490af/generators/ionic/templates

[2022-05-05 21:27] #655 closed

[2022-05-05 21:36] #664 closed

[2022-05-06 00:11] mraible commented on #664
I just checked out the `main` branch and tried it. Now it doesn't seem to get the default name from the JHipster backend. I thought it would be `flickrIonic`, but now it shows `hipsterIonic`.

[code]

[2022-05-06 00:14] mraible commented on #664
Nevermind, I was doing it from the parent directory, not the app I wanted to generate my Ionic app in.

[2022-05-06 01:28] mraible commented on #670
I'll test everything on web, iOS, and Android tomorrow (Friday). I'll make sure it works with Okta and Auth0 too.

[2022-05-09 20:17] mraible commented on #670
I [removed the Cordova bits](https://github.com/jhipster/generator-jhipster-ionic/pull/681) and refactored to use `@capacitor-community/http` for iOS. I was unable to make it work with Android. Error is:

[code]

Tracking in https://github.com/capacitor-community/http/issues/199.

That's why [`http.factory.ts`](https://github.com/jhipster/generator-jhipster-ionic/pull/681/files#diff-5b3e017e376397

[2022-05-09 23:41] mraible commented on #670
Created draft release notes at https://github.com/jhipster/generator-jhipster-ionic/releases/tag/untagged-5f129ce49191727598ba. Can you please review @mshima?

[2022-05-10 03:07] mshima commented on #670
Looks good to me, did a few changes.
I hope it’s ok.

[2022-05-10 03:18] mraible commented on #670
Looks good. Thanks for all your help @mshima!

[2022-05-10 04:40] #670 closed

[2022-06-16 18:09] mraible commented on #670
@pascalgrimaud Created bug bounty expense. https://opencollective.com/generator-jhipster/expenses/82686

[2022-06-16 18:12] pascalgrimaud commented on #670
@mraible : approved! Enjoy your holidays with lot of beers 🍻

[2022-08-24 19:03] mraible opened #711 "Upgrade to use Capacitor 4"
Depends on https://github.com/wi3land/ionic-appauth/pull/131.

[2022-08-24 22:16] mraible opened #713 "Add tests to Ionic AppAuth"
Since this blueprint depends on Ionic AppAuth (https://github.com/wi3land/ionic-appauth) as a dependency, I'm using Okta's privilege as a sponsor to improve it.

There currently are no tests. It would be nice to have basic unit tests so changes can be easily tested.

[2022-08-24 22:17] mraible opened #714 "Add CI to Ionic AppAuth"
Since this blueprint depends on Ionic AppAuth (https://github.com/wi3land/ionic-appauth) as a dependency, I'm using Okta's privilege as a sponsor to improve it.

There currently is no CI. It would be nice to have GitHub Actions enabled so changes can be easily tested.

[2022-08-29 08:39] akhilveramalli opened #716 "how to connect the ionic app with the jhipster app deployed to google cloud app engine"

[2022-08-29 12:57] mraible commented on #716
You should just need to configure the URL of your JHipster app in `environment.ts`. If your using OAuth, you'll also need a client ID from Okta or Auth0. This tutorial might help:

https://developer.okta.com/blog/2022/05/12/ionic-angular-jhipster

[2022-08-30 05:24] akhilveramalli commented on #716
below are the changes that i made to environment.ts

export const apiHost = 'https://plucky-ripsaw-303613.uc.r.appspot.com/';

export const environment = {
  production: false,
  apiUrl: `${apiHost}api`,
};

after making the changes tried to emulate the android but i am unable to login to the app
i even executed the adb commands still unable to login

But the app is running completely fine with th

[2022-08-30 05:28] mraible commented on #716
This endpoint should be available for Ionic to access it.

[code]

[2022-08-30 06:36] akhilveramalli commented on #716
how to make that end point available any references please ??

[2022-08-30 11:11] akhilveramalli commented on #716
issue solved by adding 'http://localhost' to the application.prod.yml in the jhipster app after  configuring the URL of the JHipster app in ionic app's environment.ts

Thankyou @mraible

[2022-08-30 11:11] #716 closed

[2022-09-04 20:55] mshima opened #718 "Rename cypress files extension to cy.ts to follow cypress 10 and jhipster 7.9.3 standards"

[2022-09-04 20:57] mshima opened #719 "Replace ionic-native with awesome-cordova-plugins."
https://ionicframework.com/blog/a-new-chapter-for-ionic-native/

https://github.com/jhipster/generator-jhipster-ionic/blob/cb7baafa47d4f6d4a9a2c74d9f2519f97d9f4bd0/generators/ionic/resources/base/package.json#L41-L46

[2022-09-04 21:02] mraible commented on #719
I'm not sure we need ionic-native since we should only support Capacitor, not Cordova.

[2022-09-04 21:03] #711 closed

[2022-09-04 21:06] mshima opened #720 "Update ionic-appauth to released version."
https://github.com/jhipster/generator-jhipster-ionic/blob/cb7baafa47d4f6d4a9a2c74d9f2519f97d9f4bd0/generators/ionic/resources/base/package.json#L53

[2022-09-04 21:07] mraible commented on #719
It looks like we do use a few plugins:

[code]

We can probably replace it with [Capacitor's camera](https://capacitorjs.com/docs/apis/camera).

[2022-09-04 21:11] mraible commented on #720
I'm a committer on [Ionic AppAuth](https://github.com/wi3land/ionic-appauth), but unfortunately, I don't have permission to publish it. I pinged the owner, @wi3land, a couple of weeks ago, but he hasn't responded. I tried contacting GitHub, but they're unable to change a repo's permissions. The recommended forking and publishing under a different name.

[2022-09-04 23:16] wi3land commented on #720
Hi @mraible, I have the next couple of days off to have a look at this. Give me tomorrow, I'll have your queries answered and hopefully we can get things back up and running.

[2022-09-04 23:37] mshima opened #722 "Investigate to reuse main generator components"
- angular 14 typed form using formservice.
- improved entity model.
- entity test samples.
- Improved rest service.

[2022-09-05 13:45] #720 closed

[2022-09-08 06:36] SBKMIT opened #726 "Error when creating entity in frontend"
Getting below error - After upgrade jhipster as below

  "generator-jhipster": "^7.9.3",
   "generator-jhipster-ionic": "^7.1.0",

****TypeError: this.loadEntityJson is not a function
    at D:\Project_Upgrade\kubs-client\node_modules\generator-jhipster-ionic\generators\entity\prompts.js:76:12
    at processTicksAndRejections (node:internal/process/task_queues:96:5)****

[2022-09-08 12:35] mraible commented on #726
I don't believe this blueprint is compatible with JHipster 7.9.3 yet. It should work just fine if you use JHipster 7.8.1.

If you want to use 7.9.3, you might have to clone this repo and use `npm link`.

[2022-09-08 13:00] mshima commented on #726
Ionic blueprint was reimplemented for v8, you should use version 8.0.0.

[2022-09-10 20:27] mshima commented on #726
Closing, this bug is related to an outdated release.

[2022-09-10 20:27] #726 closed

[2022-11-02 15:29] SBKMIT opened #743 "Error getting when try to create entity in front end"
You don't seem to have a generator with the name “jhipster-ionic:entity” installed.

[2022-11-02 15:38] SBKMIT commented on #743
Our app is 1.5 years old so we are creating firstly entity in microservice and then in frontend.

Tried this **yo jhipster-ionic entity TestScreen**

But getting another issue now

D:\Project_Upgrade\kubs-client>yo jhipster-ionic entity TestScreen
Error jhipster-ionic entity TestScreen

This is a JHipster blueprint and should be used only like jhipster --blueprints ionic

D:\Project_Upgrade\kubs-c

[2022-11-03 11:07] SBKMIT opened #744 "Getting error when try to create new entity"
D:\Project_Upgrade\kubs-client>jhipster --blueprints ionic entity TestScreen
INFO! Switching to JHipster installed locally in current project's node repository (node_modules)
INFO! No custom sharedOptions found within blueprint: generator-jhipster-ionic at D:/Project_Upgrade/kubs-client/node_modules/generator-jhipster-ionic
(node:11044) [DEP0148] DeprecationWarning: Use of deprecated folder mappin

[2022-11-03 13:08] mraible commented on #744
It looks like there might be a problem determining the native language for your app, but I'm not sure if that's the problem. Can you please share steps to reproduce this problem or a GitHub repo?

[2022-11-03 21:18] mraible commented on #743
Is your Ionic app 1.5 years old or your JHipster app? If it's Ionic, you shouldn't use the latest version of this blueprint to generate entities. You should use the Ionic for JHipster generator that you created your app with.

[2022-11-19 23:42] Luca1234 opened #749 "Error when generating the code if the jdl file has an entity with no fields"
Error when generating the code if the jdl file has an entity with no fields.
I wanted to have an entity that groups 3 other entities, so it has only relations and no simple fields.

entity Calendar {
}

jhipster-ionic
INFO! No custom sharedOptions found within blueprint: generator-jhipster-ionic at /home/lucian/.nvm/versions/node/v16.17.0/lib/node_modules/generator-jhipster-ionic

Welcome to JHips

[2022-11-21 12:09] Luca1234 opened #750 "Conflict when an entity has two image fields"
The is a conflict when an entity has two image fields.
The code was generated for an angular application.

There is only one fileInput in the <entity>-update.ts:
@ViewChild('fileInput', { static: false }) fileInput;
And in getPicture() method this.fileInput.nativeElement.click(); is called.

Both <input> fields from <entity>-update.html have #fileInput.

The result is that only the first entity im